[2014-02-25 19:34] acencini opened #1 "build srtn on raspberry pi"
see if it can build on rpi, and then i can give you a FTDI usb/serial converter and powered usb hub to really get it going

[2014-02-25 21:25] edaniszewski opened #2 "overhaul README file to be more descriptive and useful"
The README file currently lacks vast amounts of information on setting up and using the software. Once the software can be built stably and reliably, update the documentation to be a better resource.

[2014-02-25 21:28] edaniszewski opened #3 "Create History/Notes documentation"
Currently, primarily in the README, information exists which pertains to changes in the software and notes about the software. It may be worthwhile to move this out of the README and wherever else it may exist and store this information in some sort of history/notes document.

This will leave a trail of changes as well as separate out the critical usage information in the README from the supplemen

[2014-02-25 21:30] edaniszewski opened #4 "Create a Makefile to replace the compile script"
Andrew mentioned this in class.

It will probably be cleaner down the road to build from a Makefile than from the existing strnmake script.

[2014-02-25 21:58] edaniszewski opened #5 "doindent2 may not be useful to the project, consider removing for housekeeping?"
doindent2 appears to be a script which formats C code.
For our purposes and to simplify the codebase, it may be worthwhile to remove or archive it.

[2014-02-26 16:21] edaniszewski opened #6 "srthelp.c and srt.hlp need to be more descriptive"
These are the files that detail the help menu within the SRT program. As of now, documentation and instruction is limited/not wholly useful.

[2014-02-26 16:23] edaniszewski opened #7 "sportold.c appears to be an old version of sport.c -- determine if it is still needed"
Leaving both files in is messy -- see if they can be combined if needed or if sportold.c can be removed entirely

[2014-02-26 16:35] edaniszewski opened #8 "four.c re-declares and uses constants already declared in d1cons.h"
refactor four.c so constants all come from one place

[2014-02-26 16:40] edaniszewski opened #9 "program may benefit from a centralized config file"
In many places in the source, there are comments or commented out variables which detail legacy options. Instead of having to trek through all the code if one wants to set a specific program configuration, flags/options in a centralized config file will make it easier

[2014-02-26 16:44] edaniszewski opened #10 "automate permissions change detailed in main.c, if necessary"
~ line 160 in main.c details getting permissions..
determine if this is needed, and if it is, make sure this happens automatically (in build script/make file)

[code]

[2014-02-26 16:51] edaniszewski opened #11 "Improve GUI labeling/readability"
If possible, the GUI could benefit from additional labeling or clearer labeling. The graph as a function of time generated on the top left has no x or y axis, the small windows have no axis info (info appears when .ps file generated), and some naming conventions are not necessarily intuitive.

[2014-02-26 16:55] edaniszewski opened #12 "Install udev rules to permit non-root user from running srtn"
From the Osmocom website: (link in wiki)

In order to be able to use the dongle as a non-root user, you may install the appropriate udev rules file by calling cmake with -DINSTALL_UDEV_RULES=ON argument in the above build steps.

Currently, srtn can only be run as root or with sudo, see if changing installing udev rules will fix this.

[2014-02-27 04:42] edaniszewski opened #13 "build srtn on mac os"
@hcrowl  suggested adding support for mac os, and earlier we found that it appears Fink has the needed package dependencies (or, ports of those packages) that will allow srtn to run.

Should get Fink, install the relevant packages, and attempt to compile srtn.

[2014-02-27 15:25] edaniszewski opened #14 "Fix warnings thrown on compile with srtnmake"
When compiling using srtnmake, throws a bunch of warnings, primarily [-Wunused-but-set-variable]

Go through and see if the offending variables are needed or if they can be removed for a cleaner compile

[2014-02-27 16:29] edaniszewski opened #15 "No apparent recovery when USB dongle is removed"
srtn seems to recognize the dongle when it is run with the dongle already plugged in. When running and the USB is removed, program stops receiving data, as expected. When program still running and USB plugged back it, it does not recognize the USB again and continue receiving data.

[2014-03-03 13:04] acencini opened #16 "separate UI code from back-end logic"
refine the back-end API such that there is a well-documented set of functions that can be called from any sort of UI (web, macos, etc.) such that the telescope logic is independent of its presentation, this way any number of front-ends may be developed for the telescope without a substantial rewrite.

[2014-03-03 13:05] acencini opened #17 "create macos installer for telescope software"
this should encompass installing relevant drivers and support, setting appropriate permissions and OS facilities, and dropping the binaries (and making it a proper macos app that can be launched like any other).

[2014-03-03 13:07] acencini opened #18 "create .deb package for ubuntu version of software"
this way, people can just apt-get install the srtn software for unbuntu - this requires registering libusb and gtk+2.0 dependencies and setting appropriate permissions, etc.

[2014-03-03 16:01] edaniszewski opened #19 "update srt.cat file to reflect our location/setup and add documentation"
srt.cat appears to act as a config file of sorts, documentation should be added so it is more clear what each keyword in the file specifies.

There is a STATION keyword which specifies the lat/long of the telescope location - should be updated to reflect Bennington

[2014-03-04 18:43] edaniszewski opened #20 "strn 'Exit' does not always work"
It appears that if the help menu is opened and then closed in srtn, the program's exit button does not exit the program and the only way I have found to close the program is via the terminal in this case.

[2014-03-04 19:35] acencini opened #21 "add schedule to wiki"
please add the schedule to the wiki

[2014-03-04 19:42] acencini opened #22 "get keys to roof"

[2014-03-04 19:43] acencini opened #23 "get building plans"

[2014-03-04 19:48] acencini opened #24 "get styrofoam cylinder"

[2014-03-04 20:35] edaniszewski opened #25 "create weekly milestones"

[2014-03-04 20:37] #25 closed, assigned to nobody

[2014-03-04 20:45] sandycurth opened #26 "Put Tool Manifest/ Hardware needs for LNA and Feed on Wiki"
Sandy will do it ASAP.

[2014-03-04 20:48] cjalloh opened #27 "Get floor plan of the building from David"
Create an inventory of what currently exists on the roof, weights if possible, and their respective location on the roof.

[2014-03-04 20:48] sandycurth opened #28 "Tools needed"
Socket set/ wrench
Label system
Wire cutter/stripper
Needle nose pliers

Thanks!

[2014-03-04 22:23] edaniszewski opened #29 "test antenna controller/motors with srtn"
as mentioned, it may be possible and worthwhile to see if the controller and motors will work with srtn in its current state.

[2014-03-04 22:37] edaniszewski opened #30 "get ethernet cable for station in physics lab"
The computer currently works over wifi, which isn't bad, but since all data is stored on the servers, it sometimes can be slow to access files/work on the code.

If you have any extra cables laying around, it would be nice to have.

@acencini

[2014-03-05 06:09] theDarkLard opened #31 "Post Inventory to wiki"
Put inventory on wiki w/ what we still need hardware wise (nuts, bolts, washers, screws, etc.)

[2014-03-05 06:12] theDarkLard opened #32 "Make a wiki entry on calibration instructions"
List and explain instructions for calibrating the t-scope:
-Calibrating the t-scope to work with the dongle mod
-Calibrating the t-scope for observing

[2014-03-05 06:56] sandycurth opened #33 "Drill LNA case"
It may be advisable to wait on making the holes until we have the other amp so we can see how it all fits together inside our box.

[2014-03-05 15:57] #30 closed, assigned to acencini

[2014-03-05 16:01] edaniszewski opened #34 "Get Serial to USB adapter"
Do we have a serial to usb adapter to connect the telescope controller to our machine?

related #29

[2014-03-05 16:37] edaniszewski opened #35 "get location and lat long from IP"
add functionality that will attempt to auto-get the user's location and lat/long, and if it can't prompt the user or alert the user that it should be updated manually.

[2014-03-05 19:33] edaniszewski opened #36 "Take pictures of all parts and put on wiki"
A picture of all the parts we have / will use, along with a caption of their part name, should be added to the wiki

[2014-03-06 15:19] edaniszewski opened #37 "In getIP.sh script, set the config file to variable so it only needs to be declared once"
For those wanting to get more into the programming side of things, I left the config file name, srt.cat, declared in multiple locations throughout the file. If you look up how to declare and call variables in shell script (bash script), you can set the config file as a variable. This way, if the config file needs to change, we only need to update one location, rather than 4 or 5.

Be sure to have

[2014-03-06 15:50] edaniszewski opened #38 "Test roof for RF interference"
Once we have the plans and scope out good locations, get access to the roof and test for general RF noise, publish results to wiki

[2014-03-06 15:53] edaniszewski opened #39 "Prep for roof build: test rotor"
Test the rotor to make sure it works and the controller setup works with it. We should test with approx. the same length of cable it would take to interface the rotor with controller. Test for full range of motion. Publish results to wiki.

[2014-03-06 15:55] edaniszewski opened #40 "Prep for roof build: dish construction logistics"
Go over documentation on how to build the dish, make sure we have all the hardware and tools, and decide how it will be build and brought up to the roof

[2014-03-06 16:26] wbuchanan28 opened #41 "Create axes for objects map"
Make the objects map more user friendly by adding a scale or axes on the user interface.

[2014-03-07 14:58] edaniszewski opened #42 "find documentation for rotor and find out how to wire it to controller"
http://www.antennerna.se/dokument/AlfaSpid_Rotator_RAS_EN.pdf

Some documentation I found initially. Would probably be worth doing some more digging to find out which plate to remove, etc, to get to the wiring connections. Adding the part documentation to the wiki would be useful.

[2014-03-07 14:59] edaniszewski opened #43 "get/make cables for AZ/EL connections between rotor and controller"
currently, it doesnt appear that we have any cables that would be suitable. May be worth talking to David about.

[2014-03-08 17:22] Kgespada opened #44 "Client Crashes On Screensaver Start"
They mention in the readme that screensavers will interfere with the software and that the user should disable any screensavers. Chances are we can do better than that, but this is far from a critical issue.

[2014-03-08 22:10] theDarkLard opened #45 "Do we have the LNA mounting plate?"
I could just be missing it but I can't seem to find the aluminum plate for mounting the LNA onto the feed. It should be a (from the online parts list) 6061 aluminum sheet 0.09" thick, and 5.7” x 2.16”. If we don't have one, it can be custom ordered from Online Metals.

[2014-03-09 04:04] #23 closed, assigned to sandycurth

[2014-03-09 23:19] #7 closed, assigned to nobody

[2014-03-10 13:46] #31 closed, assigned to theDarkLard

[2014-03-10 23:15] #45 closed, assigned to hcrowl

[2014-03-11 02:32] #42 closed, assigned to nobody

[2014-03-11 03:42] #36 closed, assigned to wbuchanan28

[2014-03-11 03:42] wbuchanan28 opened #46 "Put process of LNA build up on wiki"

[2014-03-11 12:56] #46 closed, assigned to wbuchanan28

[2014-03-11 12:56] #33 closed, assigned to sandycurth

[2014-03-11 12:57] #26 closed, assigned to sandycurth

[2014-03-11 16:51] #28 closed, assigned to hcrowl

[2014-03-11 19:09] acencini opened #47 "order cake pan"
7x3

[2014-03-11 19:11] sandycurth opened #48 "Need 2 7/32" diameter O-rings for LNA Case"

[2014-03-12 01:36] #43 closed, assigned to nobody

[2014-03-12 01:52] #39 closed, assigned to nobody

[2014-03-14 12:48] #34 closed, assigned to acencini

[2014-03-17 17:31] #47 closed, assigned to hcrowl

[2014-03-17 17:32] #22 closed, assigned to acencini

[2014-03-18 00:29] theDarkLard opened #49 "Get inline amplifier for feed/lna module"
The parts list addendum says to get the RCA VHD903 or equivalent, and to see SRT memo 10, which I have linked at the bottom of the page, along with amp links. Basically the memo details different inline amps to be used with the VSRT, which is the very small radio telescope. I can't find any memo's at all for the SRT so I'm assuming that this is the one they mean in the parts list. There is a nifty

[2014-03-18 18:25] hcrowl opened #50 "serial cable for rotator"
Serial cable needed to connect computer to rotator control.

[2014-03-18 18:31] sandycurth opened #51 "Drill LNA base plate and cake pan."
I was planning to have this done already, but I got sick. I will do it tonight or the next day. I may require some assistance with the pan as it will be tricky to clamp in a way that does not cause damage. The pan and base plate are currently in VAPA.

[2014-03-18 19:31] theDarkLard opened #52 "Upcoming Roof Date 3/21/14"
3 pm be there or be square

GOAL: verify dish placement and roof mod location(s)
LOFTY GOAL: test for RF interference

Things to consider:
- nearby trees (could be useful as calibration tools or detrimental as obstructions)
- RF interference
- mechanical obstructions like ac/exhaust units

MATERIALS NEEDED:
- up to date electrical plans
- tape measure
- video camera
- compass

[2014-03-18 20:49] edaniszewski opened #53 "Build Feed"
The Feed should be completed ideally before Friday's planned roof access, #52

[2014-03-18 21:52] cjalloh opened #54 "Get detailed electrical work on the building"
Because of the HVAC work on the roof, Hugh suggested we get these from David Norman or the contractors

[2014-03-18 22:09] Berrescuda opened #55 "Buffer Overflow in rot2() function in Sport.c"
Currently there's a bug in the sport.c code that doesn't allow it to run without causing a seg fault. A buffer variable is declared that's one element too short at the top of rot2(). I'll fix this and push the code to the git.

[2014-03-18 22:14] Berrescuda opened #56 "Get Software to Read Data from Rotor"
#29

Right now the software blocks while trying to read from the Rotor, we should figure out why that's happening and address that.

[2014-03-19 18:11] edaniszewski opened #57 "install linux on new machine"
Since we aren't going to use the CATlab machine forever, we got a dedicated box to run the software from. It needs Linux installed on it (cat lab machine runs Ubuntu 12.10). This would be good for someone (or some group of people) to do who has less CS experience to get more familiar with computers!

@cjalloh @sandycurth @theDarkLard @wbuchanan28

[2014-03-19 19:54] #24 closed, assigned to hcrowl

[2014-03-20 05:19] #51 closed, assigned to sandycurth

[2014-03-20 05:19] sandycurth opened #58 "Cut and Drill Styrofoam"

[2014-03-20 05:20] #58 closed, assigned to sandycurth

[2014-03-20 05:45] sandycurth opened #59 "Complete wiki entry on Feed"
i.e. Explain to Sandy how to upload images and help keep our formatting consistent. Thanks.

[2014-03-21 00:49] theDarkLard opened #60 "Need hardware (screws etc.) for Feed"
We need:
- cap screw ¼-20x3.25” (quantity not specified on parts list)
- 4 lock washers, 6-32
- 2 machine screws, 6-32x1/2"
- 4 machine screws, 6-32X1"
- 14 nuts, 6-32
- 1 nut 1/4-20
- 2 washers 1/4"

I know this is super last minute but please be magnanimous great superiors. If David is willing maybe he could make a home depot run in the morning? We will be building it all tonight so if we have t

[2014-03-21 17:10] #60 closed, assigned to hcrowl

[2014-03-21 22:57] #52 closed, assigned to nobody

[2014-03-21 23:08] #56 closed, assigned to Kgespada

[2014-03-21 23:10] edaniszewski opened #61 "Add rotator settings and descriptions to wiki page"
The manual can be found [here](http://www.spid.alpha.pl/download/AlfaSpid_Rotator_RAS_EN.doc)

It should contain most of the information on the settings of the controller to get it to interface the computer with the rotator, and probably a whole bunch of other stuff. A wiki page should be created and this info put into it.

[2014-03-22 03:33] #53 closed, assigned to wbuchanan28

[2014-03-22 17:13] #61 closed, assigned to nobody

[2014-03-25 00:43] cjalloh opened #62 "Tower dysfunctional - need repair or a new one"
We tried installing linux on the new machine we found at the back bench in the physics lab. The tower seems to have a problem, I even switched the monitor just to verify that it isn't the old monitor that @hcrowl left at the stock-station and it still didn't work. Some one more advanced might need to look at this, but Evan, William and myself are pretty confident that the tower might have issues.

[2014-03-25 00:49] #54 closed, assigned to nobody

[2014-03-25 18:35] #21 closed, assigned to sandycurth

[2014-03-25 18:39] #50 closed, assigned to acencini

[2014-03-25 20:18] hcrowl opened #63 "roof location plan"
Where should we mount the telescope on the roof? Why?

[2014-03-25 20:19] hcrowl opened #64 "mounting strategy for the dish"
Assuming that we mount the telescope on the roof, what do we actually need to do? What sort of footing should be on the bottom of the pipe that the rotator sits on? Where should it be attached to the building? How?

[2014-03-25 20:22] hcrowl opened #65 "plan for building the dongle interface"
What hardware do we need to build the part of the feed between the LNA and the Dongle? There is an amplifier (on order), power injector (in hand), DC power supply (in hand), and filter (in hand). However, how do we connect these together? What wires do we need? Do we need to make wires?

[2014-03-25 21:54] cjalloh opened #66 "Need keyboard and mouse for new machine"
@acencini mentioned we can get a keyboard from the dumpster (but where is it?) - can you also drop the mouse in the physics lab? Thanks.

[2014-03-26 12:31] acencini opened #67 "install latest version of 64-bit RHEL on new machine instead of Ubuntu"
via @hcrowl (he can provide more specifics from wesleyan)

they are using RHEL for their linux distro.  we should get this running on the tower asap and get v2 and v3 built there, and hook up the dongle and rotator to that machine and make sure this is indeed a platform issue.

and of course, documentation of all of this will be critical.  until we can fix the ubuntu version, we should focus on "j

[2014-03-30 21:21] #8 closed, assigned to nobody

[2014-03-30 23:37] cjalloh opened #68 "Get rivet gun and socket wrench for dish assembly"
We highly suspect David Norman might have both of these - just putting it out there in case he doesn't. I will check with him tomorrow and will get back to you, if we definitely need to buy them.

[2014-03-30 23:38] #62 closed, assigned to nobody

[2014-03-31 22:28] #66 closed, assigned to acencini

[2014-03-31 23:14] #5 closed, assigned to nobody

[2014-04-01 00:45] #59 closed, assigned to wbuchanan28

[2014-04-01 16:55] sandycurth opened #69 "Document dish build"
A wiki entry has been started.

[2014-04-01 19:30] #27 closed, assigned to cjalloh

[2014-04-01 19:30] #68 closed, assigned to hcrowl

[2014-04-01 19:32] wbuchanan28 opened #70 "Make plan for getting dish on the roof"

[2014-04-02 18:04] #57 closed, assigned to nobody

[2014-04-02 19:29] #67 closed, assigned to cjalloh

[2014-04-04 02:00] acencini opened #71 "test srtn on intel centos, arch installs"
@edaniszewski @vpascow you guys have the best agility for this one; @Kgespada will be our man for windows?

[2014-04-04 02:13] #29 closed, assigned to Kgespada

[2014-04-04 02:14] #55 closed, assigned to Kgespada

[2014-04-04 02:14] edaniszewski opened #72 "make srtn work on ubuntu"

[2014-04-04 17:40] cjalloh opened #73 "Riveting parts of the dish - with help from David Norman"
Since our most experienced hardware-er (@sandycurth) highly recommends not taking a chance on our one-and-only dish, I have spoken with David about helping/showing/teaching us how to rivet parts of the dish whenever we're ready. He's agreed and is available on Tuesday afternoon (during our class time) if anyone is up for this. Please let me know if this is a good time, or if we should just wait un

[2014-04-05 01:13] edaniszewski opened #74 "Create wiki entry detailing install process for CentOS"
Like we have documentation for Ubuntu, we should have documentation for CentOS.

[2014-04-05 01:27] edaniszewski opened #75 "Create wiki entry to detail rotator controller first-time setup"
Since we don't want anyone else to have to go through the problems we've trudged through, we should detail which settings should be used and what errors may occur if the settings aren't used..

[2014-04-05 13:44] #75 closed, assigned to nobody

[2014-04-05 20:27] edaniszewski opened #76 "create wiki page on installing udev rules file rtl-sdr.rules to allow sudo-less usage of srtn"

[2014-04-05 20:42] edaniszewski opened #77 "srtn error thrown on manual rotator stop - causes rotator to go back to stow."
After setting an az using the axel button, I manually stopped the motion by pressing the 'S' button on the controller. After that, I did not touch the software or the rotator controller. After a few minutes, the rotator began moving again, back to Stow position. The error message on screen:

[code]

This doesn't seem necessarily bad, and as though it is the intended operation to occur. I'm raising

[2014-04-05 20:47] edaniszewski opened #78 "Error logging in software"
Some form of error logging may exist already, but I don't remember seeing it in the code I have examined. From what I recall, most error handling consists of printing the error message to screen.

This won't be useful in the future if we develop a more automated system, or even in the current implementation if the display flag is turned off. It might be useful for the software to have some measure

[2014-04-05 20:59] edaniszewski opened #79 "Add srtn feature to allow for software controlled motion stopping."
related to #77

instead of relying on the hardware stop feature, a stop feature should be built in to srtn, I think.

[2014-04-05 21:00] #74 closed, assigned to edaniszewski

[2014-04-06 23:32] sandycurth opened #80 "Drill holes in the aluminum plate that connects the dish to the rotor"
The dish to rotor mounting system we have will work fine, but needs to have holes in slightly different places to fit with our dish.

[2014-04-08 01:03] wbuchanan28 opened #81 "Parts needed for dish mount"
Steel tube - 2" OD, 0.25" wall, 1.5 foot long
Steel tube - 2.5" OD, 0.25" wall, 12 foot long
Angle iron - 5 foot
Steel plate - 0.25" thick, 1 foot x 1 foot (I think we have this in the metal shop)
Brackets (http://www.homedepot.com/p/DuraVent-4-in-Pellet-Vent-Wall-Strap-Support-Bracket-3169/100194056), though corresponding to the size of the plate (we would want 1/2 the length of the plate)

@sand

[2014-04-08 18:55] acencini opened #82 "schedule roof electric run for April 29"
we should get facilities to put in conduit into physics stockroom next tue

may require a pre-consult

[2014-04-08 19:24] acencini opened #83 "order barrel jack for power injector"
http://www.digikey.com/product-detail/en/PJ-037B/CP-037B-ND/1644546

2.5mm/5.5mm barrel jack, through-hole solder to breadboard

[2014-04-08 19:32] acencini opened #84 "order male plug f-type coax for breadboard"
http://www.digikey.com/product-detail/en/866B509/991-1053-ND/2355591

[2014-04-15 18:00] #12 closed, assigned to nobody

[2014-04-15 18:02] #76 closed, assigned to nobody

[2014-04-15 18:03] #72 closed, assigned to edaniszewski

[2014-04-15 18:35] #73 closed, assigned to sandycurth

[2014-04-15 18:38] edaniszewski opened #85 "Assemble Dish"
Actually put the thing together.

[2014-04-15 18:42] #70 closed, assigned to nobody

[2014-04-15 18:43] edaniszewski opened #86 "Put dish on roof"
Once the dish is assembled #85, we need to put it where it goes.

[2014-04-15 18:43] #63 closed, assigned to nobody

[2014-04-15 18:49] #65 closed, assigned to nobody

[2014-04-15 18:51] #64 closed, assigned to nobody

[2014-04-15 18:51] #49 closed, assigned to hcrowl

[2014-04-15 18:54] #40 closed, assigned to nobody

[2014-04-15 19:01] edaniszewski opened #87 "Assemble "Stuff Between LNA and Dongle""
This depends on #83 and #84, and should involve some soldering.

[2014-04-16 15:13] #37 closed, assigned to nobody

[2014-04-16 19:14] #84 closed, assigned to hcrowl

[2014-04-18 23:23] #48 closed, assigned to nobody

[2014-04-20 01:13] edaniszewski opened #88 "Need a new drill bit"
The drill bit snapped when drilling one of the last holes for the band thing that goes around the telescope. I can pick one up tomorrow, but I need to know what size it was.. @sandycurth  do you know?

![photo apr 19 8 44 26 pm](https://cloud.githubusercontent.com/assets/1195651/2749829/e7084004-c828-11e3-9c12-733bfa146f4e.jpg)

[2014-04-20 16:56] #88 closed, assigned to nobody

[2014-04-21 02:05] #71 closed, assigned to vpascow

[2014-04-21 19:09] #83 closed, assigned to hcrowl

[2014-04-22 16:54] theDarkLard opened #89 "theDarkLard is sick"
Unfortunately the sickness crept up on me and I will be missing class today. Will be pounding liquids and sleeping a lot so we can close this issue ASAP. Will take pictures of process to post to wiki. :p

[2014-04-22 17:40] acencini opened #90 "get better"
related #89 -- please close when you are better

[2014-04-22 18:27] acencini opened #91 "compute movement tolerance for mount"
how far can the dish/mount travel under vibration/nasty weather?

[2014-04-22 18:28] acencini opened #92 "design contingency plan for wiggly telescope mount"
what type of retrofit could be designed but not implemented to stabilize the mount/dish if our existing mounting strategy is insufficient under wind/vibration

[2014-04-22 18:48] acencini opened #93 "package up intel machine for final deployment"
OS installed, case on, ready to be put into place

[2014-04-22 18:50] #80 closed, assigned to sandycurth

[2014-04-22 18:53] acencini opened #94 "get power cables for roof"
i am very concerned you have not done this yet

[2014-04-23 00:38] #85 closed, assigned to sandycurth

[2014-04-23 00:52] edaniszewski opened #95 "Update Tool Manifest"
It looks like we have the basic tools that we started with, but since then, haven't updated the list. It would be good for everyone to take a look at it and add anything so we have a complete list of what we used.

I've added some things from the dish build but think I am still missing a few..

[2014-04-23 00:59] edaniszewski opened #96 "Update Parts List"
We have captured many of the parts that we've used in our parts list, but I think some are missing. I might have pictures of some that are not on the list, I'll check and upload if I do.

I also created a 'Detailed Parts List' page, so we can capture more info than just the name and picture ( approx price, qty, etc), similar to the table that was in the MIT documentation (although hopefully ours w

[2014-04-23 14:52] #10 closed, assigned to edaniszewski

[2014-04-23 18:28] #6 closed, assigned to nobody

[2014-04-26 01:09] #86 closed, assigned to edaniszewski

[2014-04-28 23:55] #90 closed, assigned to theDarkLard

[2014-04-29 00:12] #82 closed, assigned to hcrowl

[2014-04-29 01:23] #89 closed, assigned to theDarkLard

[2014-04-29 01:32] #87 closed, assigned to theDarkLard

[2014-04-29 08:04] #69 closed, assigned to nobody

[2014-04-29 08:06] #81 closed, assigned to nobody

[2014-04-29 08:29] #19 closed, assigned to edaniszewski

[2014-04-29 08:30] #3 closed, assigned to nobody

[2014-04-29 18:08] #94 closed, assigned to hcrowl

[2014-04-29 19:45] #93 closed, assigned to edaniszewski

[2014-04-29 19:46] #92 closed, assigned to wbuchanan28

[2014-04-29 19:47] acencini opened #97 "resolve interference weirdness with dongle, lna and company"
related #38

[2014-04-29 19:49] acencini opened #98 "final documentation of project completed"
must be done plz

[2014-04-29 19:56] acencini opened #99 "attach feed to dish"
figure out the piece of wood, etc

[2014-04-29 19:57] acencini opened #100 "close issue 100"

[2014-04-29 19:57] #100 closed, assigned to nobody

[2014-05-06 00:07] sandycurth opened #101 "Paint and build shim for mount"
I talked with Hugh about the best way to deal with the shim needed to keep the mount flat on the roof and we agreed that we new to take down the mount, carry it back to the metal shop and add the necessary piece. Additionally we need to take down the mount to paint it. Who is free when to work on this tomorrow?

[2014-05-06 00:09] #97 closed, assigned to nobody

[2014-05-07 13:55] #101 closed, assigned to nobody

[2014-05-08 14:58] sandycurth opened #102 "Ground the telescope"
I really think we new to ground the telescope. All we need to do is run some conductive material to the ground or to another object nearby that is already grounded.

[2014-05-08 18:24] cjalloh opened #103 "Pictures uploads - closing the gaps!"
Hi guys,

I noticed some of the photos we took during our last two working sessions haven't been uploaded yet. I mean the pictures for putting the dish on the roof, and those during the wiring process. Can anyone with any good pictures pls upload them? Thanks!
Related to #69 #98

[2014-05-13 00:19] wbuchanan28 opened #104 "Finish assembling telescope on roof"
We have just about everything we need up on the roof, we just need to put it all together. This includes #99, riveting the arms to the dish, tightening the u-bolts to attach the mount to the wall braces, assembling the rotor setup, and putting that on top of the mount. I think we could do nearly all of this tomorrow in class, if not, I can stay after to work on it. At the very least, we should be

[2014-05-21 02:52] #99 closed, assigned to sandycurth

[2014-05-21 02:57] #104 closed, assigned to nobody

[2014-05-21 13:20] edaniszewski opened #105 "weekend roof access?"
@acencini @hcrowl

Do you know if it would be possible to get roof access on the weekend? It would be good to have the telescope calibrated, or at the very least, figure out & set the limits so we would no longer need someone on the roof when we want to use it.

I feel like everyone would have the most free time to do this on a weekend, so it would be nice if we could get on the roof on the weeken

[2014-05-21 14:03] hcrowl opened #106 "calibrate rotator"
According to the manual (http://www.spid.alpha.pl/download/AlfaSpid_Rotator_RAS_EN.doc), the rotator can be calibrated by doing a hard reset of the controller. Basically, the procedure seems to be to point the telescope north at the horizon and then do a hard reset of the controller (which appears to involve holding down the "F" button as you turn the controller on). It should then reset to Altitu

[2014-05-24 16:29] #38 closed, assigned to nobody

[2014-05-24 16:30] #91 closed, assigned to sandycurth

[2014-05-24 16:59] #105 closed, assigned to hcrowl

[2014-05-24 19:49] edaniszewski opened #107 "motor controller component failure"
When attempting to test our fix to #106 , things got bad..

Below is a narrative describing what we did, for posterity, but the short version of it is that the controller is not working and appears to have a blown component on the bottom. We need to figure out what to do about it, or else we can't use the controller, i.e. can't use the telescope.

---

We managed to zero the controller with the di

[2014-05-26 00:35] #103 closed, assigned to nobody

[2014-05-26 03:48] #95 closed, assigned to nobody

[2014-05-27 01:59] edaniszewski opened #108 "group photo with the telescope"
It may be broken, but we should probably all have a picture with it so we look important. Or just so an embarrassing photo of all of us exists on the internet that we will all forget about until 10 years from now when your new co-worker brings it up...

[2014-05-27 05:10] #2 closed, assigned to nobody

[2014-05-28 00:01] edaniszewski opened #109 "potential missing parts"
~~#60 (various parts)~~ ~~#24 (styrofoam rods)~~ #43 and #94 (rotor-to-controller cable) ~~#47 (cake pan)~~ ~~#48 (o-rings)~~ #49 (various parts) #65 (more parts!) #81 (dish mount) ~~#83 (barrel jack)~~ ~~#84 (male plug f-type)~~

I went through closed issues and these ones look like they mention parts that I am not sure if they are captured in our list (some of them definitely are not on the list

[2014-05-28 02:23] #108 closed, assigned to nobody

[2014-10-14 02:49] edaniszewski opened #110 "Rewrite code base in Python"
I might eventually get around to doing this. I think I commit a Python directory a while ago.

Problems with this include:
- not knowing the mechanics (read as mathematical/logic decisions) currently implemented
- not having a radiotelescope and rotator readily available to play with.

[2015-06-14 17:29] edaniszewski commented on #98
better late than never...
a4d8e2aec51b280cae6a409b1fce8b51df9fb1d9

[2015-06-14 17:29] #98 closed

[2015-06-14 17:29] #96 closed

[2015-06-14 17:30] #109 closed

[2015-06-18 20:44] hcrowl opened #111 "Dongle doesn't work after being plugged in for too long"
The dongle seems to only work at an "ideal" temperature. The performance is very unreliable if the dongle has been plugged in for too little time or too much time. We should both quantify the time over which the dongle is reliable and look to find a less flakey solution.

[2015-06-18 20:48] hcrowl opened #112 "Calibration procedure"
Figure out how to "calibrate" the radio telescope. What does the "Calibrate" button work? How do we use it?

[2015-06-18 20:49] hcrowl opened #113 "Startup/Usage procedures"
Enumerate and write out the startup/usage procedures for using the radio telescope.

[2015-06-18 20:50] hcrowl opened #114 "Determine/Set Mount Hard Limits"
Figure out how to implement hard limits to protect the telescope. It should not allow anyone using the software to point the telescope anywhere that could damage the telescope.

[2015-06-18 20:51] hcrowl opened #115 "Webcam"
Get the webcam working on the radio telescope computer (using VLC?). If possible, figure out how to integrate the video into srtn.

[2015-06-18 20:54] hcrowl opened #116 "Characterize the noise level of the telescope"
Compare the noise level with:
*Haystack/MIT (official documentation)
*Wesleyan (Meredith Hughes)
*UMichigan (Carl Akerlof)

[2015-06-18 20:55] hcrowl opened #117 "Verify (and document) that HI Line observations work"

[2015-06-19 14:08] theDarkLard commented on #113
Start up/usage/calibration pages made, still need some things added to them.:

Usage: overview of the other important buttons on top of SRTN window

Calibration: Software Calibration

[2015-06-19 15:50] theDarkLard commented on #114
We have enough slack on both the rf cables and the rotor cables to take the telescope basically through about 1 and a half rotations and up to 90 degre. Hard limits set for CW rotation: AZ 359, EL 90. Hard limits set for CCW rotation: AZ 315, EL -5. SRTN never commands the rotor to rotate CCW but those limits are set sort of as a runaway telescope catcher.

[2015-06-19 15:51] theDarkLard commented on #114
Oh and the software doesn't seem to be bugging out with hard limits set, so that's good.

[2015-06-19 16:14] theDarkLard commented on #111
Test in progress. Dongle reached stable operating temperature @ 10:46 am. I am checking to see if we still get a signal about every half hour. It's 12:15 pm now and so far so good.

[2015-06-19 17:24] theDarkLard commented on #112
So I ended up trying the procedure they list out for the old srtn software, the one written in java, and i think it may have worked..? Here's the procedure and what happened: point the telescope at an empty point in the sky. Switch the frequency to just off the hydrogen line, to 1419 MHz, hit the cal button. Once the green light goes on, switch the frequency back the 1420.4 MHz. This stops the cal

[2015-06-19 17:34] theDarkLard commented on #112
This does indeed get fixed on the wrap around. The signal strength is still slowly ascending but it is not as drastic as it was yesterday, and it was doing that before the calibration, so I assume it has something to do with how close the telescope is to the sun's center.

[2015-06-19 17:38] hcrowl commented on #112
Yeah. The thing to remember is that the telescope isn't tracking, so it's
going to slowly scan across the Sun. When it's tracking away from the Sun's
center, it should slowly decline.

Not saying that's necessarily what's happening here, but that's a
possibility.

On Jun 19, 2015, at 1:35 PM, theDarkLard <notifications@github.com> wrote:

This does indeed get fixed on the wrap around. The signal s

[2015-06-19 18:04] theDarkLard commented on #112
Actually when you click on the sun from the skymap, the telescope does indeed track it. So if this weird ascending is a consequence of the tracking, i think the telescope is sort of anticipating the sun, where it is moved a little in front of it and sits there as the sun's center aligns more closely with the center of the beam. But again, this is all speculation. As far as recording data goes, you

[2015-06-19 19:41] edaniszewski commented on #112
@theDarkLard It would be easy enough to automate this using either thin python layer (matplotlib?), or adding some functionality to the C code (not sure what plotting libraries exist, but I'm sure something is out there.)

[2015-06-19 19:59] theDarkLard commented on #112
Hey, we were hoping you'd show up!

On Fri, Jun 19, 2015 at 3:41 PM, Erick Daniszewski <notifications@github.com

[2015-06-19 20:09] theDarkLard commented on #111
4:10 pm and the dongle still seems to be working, although the signal isn't quite as strong as it been before, but that could be due to a host of other issues.

[2015-06-21 00:44] edaniszewski commented on #112
Big brother is _always_ watching (;

[2015-06-22 15:48] theDarkLard commented on #111
After being unplugged all weekend, plugged dongle in @ around 9:50 am today, was working at that time. It is now about 11:40 am, and am getting a flat response. Unplugged it for a minute and plugged it back in, is wokring again now.  It seems the dongle is a little more volatile that I had suspected. Will continue to search for dongle replacements.

[2015-06-22 15:50] theDarkLard commented on #113
Updated the wiki with info pulled from various MIT publications and the help file in our version of srtn. Still need to run some of the commands ourselves to fill out details, but will do this when I'm at a place to fully understand everything in SRTN.

[2015-06-22 15:51] theDarkLard commented on #111
Leaving the dongle plugged in for now, will check back in an hour.

[2015-06-22 16:35] hcrowl commented on #111
A theory worth checking: it's not the dongle, but rather the computer going into standby and not recovering properly to sense the dongle. No idea if this is true, but it's worth testing to see if you can get it to fail just by having the computer going into power saving mode.

[2015-06-22 17:12] theDarkLard commented on #111
Just woke up the computer from power saving mode and immediately initiated srtn. The dongle still appears to be working. Will try it again the next time I can get away from the stockroom computer for a bit.

[2015-06-22 17:47] theDarkLard opened #118 "Figure out what the heck everything is in srtn"
what's going on in there??
Displays, small words with numbers next to them, record files oh my

[2015-06-22 18:10] edaniszewski commented on #111
#44 perhaps related?

[2015-06-22 18:13] edaniszewski commented on #118
If ya need any help with analyzing the code to figure out what it does, I can try to help.

I added file header comments to some files describing what they did, but for the more nebulous, poorly documented things.. I'm around.

[2015-06-22 18:19] edaniszewski commented on #115
My 2 cents: easier to do with VLC (or something similar), for now.

The UI code for srtn is not at all modular. Its actually just inline with all the code that does things throughout a bunch of the files ( #16 )

[2015-06-22 18:22] theDarkLard commented on #118
So the spectra that are covered by the old srtn documentation, i.e. documentation of the java version, only cover two different spectra: discrete spectra, and accumulated spectra. The accumulated spectra is definitely present in our srtn; it is the bottom spectra and denoted by "av spectrum". This is what the old documentation has to say about the accumulated spectrum:

"The [bottom] spectral-line

[2015-06-22 18:23] theDarkLard commented on #118
@edaniszewski yeah i will probably need some help. Will let you know. :)

[2015-06-22 18:37] theDarkLard commented on #118
This is what the MIT SRTN manual has to say about the output files:

The output data file (yydddhh.rad) is an ASCII text file. Data reduction on the raw output can be
done with a spreadsheet program like MS Excel with some effort. The development of
spreadsheet MACROS to reduce the data are desirable for large files and long integrations. Future
releases or updates of the SRT software could also o

[2015-06-22 18:54] vpascow commented on #118
I'll also put myself out there as someone who can help figure stuff out

[2015-06-22 19:16] theDarkLard commented on #118
yay friends!!

[2015-06-22 19:20] hcrowl commented on #115
Agreed. Integration into srtn is probably #dreamland for now.

VLC (or whatever) should be the first priority.

[2015-06-22 19:20] hcrowl commented on #115
Agreed. Integration into srtn is probably #dreamland for now.

VLC (or whatever) should be the first priority.

[2015-06-22 19:22] hcrowl commented on #118
Who needs other social networks when there's github!

[2015-06-22 19:58] theDarkLard commented on #118
Ok so I was not able to come up with much with my limited computer skills. Things we don't know for sure what they are yet are: fs, smax, pwr, and what their units are. I found these variables in the files main.c, plot.c, velspec.c, vspectra.c and the rest of the vspectra series. Maybe those of you with greater facility in computers can put the pieces together and see how these variables are worki

[2015-06-22 20:00] theDarkLard commented on #111
@edaniszewski I don't think so because that issue happens only when srtn is already running and the computer goes to power saving mode. In this case, the dongle will have been plugged in with srtn not running and you run srtn and you get a flatline.

4:00 pm and dongle is still working fine. Go figure.

[2015-06-22 22:17] edaniszewski commented on #118
Github is the best social media!! :octocat: :bangbang:

@theDarkLard  I'll probably look a little bit into the offending variables to try and figure out what their deal is later today after some sushi and Sopranos. (gotta have priorities)

Good find. Looks like they have some useful resources there, but it also looks like they may be using an older version of the software, so keep that in mind. Us

[2015-06-22 22:29] edaniszewski commented on #111
Interesting. Seems like a tricky one to diagnose (if it indeed is not a problem with the dongle).

I don't really remember the ins-and-outs of interfacing with the dongle, but I'm sure there has to be a way to extract the data from the dongle external from the srtn software. Isolating the dongle data stream from the software will give you one (or a few) less degree of uncertainty since it is plaus

[2015-06-23 00:55] edaniszewski commented on #118
__fs__
Not too sure what this is. It looks like the only place this is mentioned is when it is printed to the UI. Makes me think that is an abbreviation for something well known in radioastronomy. @hcrowl  any ideas? It could be describing a temperature since it seems to have units K (Kelvin?) associated with it.

_Relevant code snippet:_
[code]

__smax__
I have no idea about this one. I've looked

[2015-06-23 02:48] edaniszewski commented on #118
From `srt.hlp`:

also:

possibly this helps describe what __pwr__ may mean?

[2015-06-23 13:45] theDarkLard commented on #118
Yeah I think that's part of it ^^ I poured through the help file yesterday, all this stuff is up on the wiki. That clip of code you threw up there is interesting though...I saw it but didn't put the pieces together. This is the best evidence yet for pwr being in Kelvin, and it tells us where the numbers for pwr are coming from...pwr is starting to make a little more sense, thanks a ton Erick! Also

[2015-06-23 13:48] theDarkLard commented on #111
Cool yeah that sounds like a good diagnostic check. I know there is the driver for the dongle in the srtnver3 directory but it's pretty messy. I will try to look into getting at the dongle without going through srtn but I can't promise I will come up with anything.

[2015-06-23 13:52] hcrowl commented on #118
A question for @theDarkLard:

What does it mean to measure a "power" (ie a flux) in Kelvin? This is a fundamental unit mismatch that shouldn't work. So, what assumption is being made to allow this to happen.

(This is something that I *think* I know the answer to, but would have to do the reading to make sure. Why don't you do the reading and write a little something up?)

[2015-06-23 15:06] theDarkLard commented on #118
OK so I pulled this info from this webpage: https://casper.berkeley.edu/astrobaki/index.php/Single_Dish_Basics#Some_Important_Equations

"Recall that we relate the power received by the antenna at a frequency ν, Pν, to the antenna temperature, TA, and the observed intensity, Iν, as follows:
![ed55b78ad411cb36e70217c3ea29dc35](https://cloud.githubusercontent.com/assets/6722674/8308358/4965d48a-1992

[2015-06-23 15:17] theDarkLard commented on #118
And to expand a bit, I think the v from dv is actually a greek "noo"...? which is standing in for frequency, so it's like power for that specific frequency..? The flux density equation will help this make more sense, which is what we want to measure anyway. Flux density is how much energy is passing through a surface at a given time. "The Flux Density is equal to the Planck function = monochromati

[2015-06-23 15:35] theDarkLard commented on #118
And notice the units, W/m^2/Hz. Power per unit area per frequency, so it's assumed that you must know what frequency your antenna is tuned to. (i think)

[2015-06-23 15:55] theDarkLard commented on #112
So yeah yesterday I put the calibration procedure in the srtn help file on the wiki and you literally point at an absorber or tree and click. At least, that's all the help file lets on. But I think we should probably get an absorber of some kind, because there is a LOT of noise up on the roof. The signal on the horizon vs on cold sky is gigantic, so I'm going to try to characterize the signal stre

[2015-06-23 16:18] edaniszewski commented on #112
When pointing at the most obvious tree, is the big mountain in line with the telescope? I vaguely remember us being concerned that there may be interference from there, since there is a bunch of telecom equipment up there?

[2015-06-23 16:21] theDarkLard commented on #112
no it's sort of pointed towards the new houses/stickney

[2015-06-23 16:23] hcrowl commented on #112
Maybe we should use the spectrum analyzer to characterize noise sources on the roof?

[2015-06-23 16:24] theDarkLard commented on #112
yeah good idea^^ will do that

[2015-06-23 16:29] edaniszewski commented on #118
I agree that the units for pwr are in Kelvin _at some point_ during the processing, but I wouldn't say with absolute certainty that the pwr with units Kelvin is what is being displayed. It could just be used for some internal calculations. Its kind of tough to follow where the actual conversion occurs (and there is a conversion, as explicitly stated in the help file), and from what units it is con

[2015-06-23 16:34] edaniszewski commented on #111
since srtn does access the dongle via the driver, pretty much all the code should be there.. somewhere. If we can pinpoint exactly which code is accessing the driver, we could just use it in a small standalone program to log the data coming from it.

The secret to writing code: copy + paste.

[2015-06-23 16:37] edaniszewski commented on #112
ohhh! toys!

You should livesteam it, so I can have fun and pretend like I'm there

[2015-06-23 16:50] theDarkLard commented on #112
you can! once I get the camera fully working...... :/

[2015-06-23 16:55] theDarkLard commented on #112
Ok so just went up on the roof w/ the spectrum analyzer. Yes there is a good deal of noise all around the horizon but it is all > 1 GHz. Strongest signal was -50 dBm at 93 MHz. Other prominent frequencies were 180 MHz, 201 MHz, and 663/666 MHz. The 93 and 201 MHz signals were the most pervasive, showing up everywhere. I don't know how much this noise is going to affect our telescope. Theoretically

[2015-06-23 17:24] theDarkLard commented on #112
I hooked the spectrum analyzer back up to the telescope circuit, and the only frequency below 1 GHz that gets through is 249 MHz with a strength of 69-71 dBm, so this is the only real "noise" that's making it thorugh. The rest of the spectrum is in the 1420 MHz range, with comparable signal strength.

[2015-06-23 17:24] theDarkLard commented on #112
^^All of this on the horizon, pointing at different trees.

[2015-06-23 17:30] theDarkLard commented on #112
This makes me more confident in the accuracy of the hardware initial Tsys for our telescope. But these words could come back to haunt me...the radio telescope can be a harsh and cruel mistress, a fact we are all well aware of.

[2015-06-23 17:45] theDarkLard commented on #112
Still no idea on how to turn the calibration function off without changing the center frequency.

[2015-06-23 18:33] theDarkLard commented on #112
Looked at the sun with and without a calibration procedure done. Without, the power output is around 800-900. With calibration, there is virtually no difference in the power output. Still getting a steadily ascending power output. But the issue is that it seems like there is no real way to run the calibration procedure, turn it off, and maintain the calibrated spectrum/signal. Or at least if it's

[2015-06-23 19:41] theDarkLard commented on #112
Roof noise stops affecting telescope at 30 degrees off the horizon. pwr when looking at cold sky is around 165, which would give a Tant of about 33 K.

[2015-06-23 19:51] theDarkLard commented on #112
Ok so I found something that could either be nothing or very troubling and very hilarious. So there are four (0, 1, 2, 3) calibration modes that the srtn calibration has. Mode 3 is used for tree absorbers. The funny thing is that there is no code written for mode 3 in cal.c. Mode 3 is the same as mode 2 but doesn't require an entry to confirm that you've placed an absrober in front of the feed. Bu

[2015-06-23 20:04] theDarkLard commented on #112
calmode 2 doesn't seem to want to turn off either.

[2015-06-23 22:14] edaniszewski commented on #112
Hm. Calmode 3 seems to only be mentioned in one place in the code, `disp.c` line 319

[code]

not too sure what the dealio is there, or why its only in disp.c... weird. Maybe I'll take a look at the MIT srtn ver4 sometime. Perhaps in the update from v3, they added some functionality around this? Im not too optimistic, but we'll see..

What exactly do you mean by "doesnt seem to want to turn off"?

[2015-06-24 01:42] theDarkLard commented on #112
Yeah basically, you press the button and it stays green and doesn't go back to normal.

[2015-06-24 03:16] edaniszewski commented on #112
Interesting. Looking at the code, it looks like the the only place where the button is set to turn green is in `cal.c`. It seems like it should only be turning green if mode == 2

[code]

the place where it appears to be set back to its default white color is in `disp.c`, though there is also a code block in `main.c` which assigns the button to white.

[code]

notice that is is checking for the `d

[2015-06-24 13:26] theDarkLard commented on #112
Hmmmm...thanks a ton for this Erick, this helps a lot. With this knowledge in mind, I'm going to see if anything more is illuminated by a few more practical tests. If not...well, we'll cross that bridge when we come to it.

[2015-06-24 14:54] edaniszewski commented on #115
Spent some time looking at the best frameworks for creating a more modern (e.g. can actually run on more than just CentOS and Ubuntu). Haven't come to any clear decision yet, but wxWidgets looks neat. It is written in C++, but has bindings in Python. One particularly neat feature relevant to this issue: http://larryo.org/work/information/wxopencv/index.html

[2015-06-24 15:02] theDarkLard commented on #112
So calmode 20 is actually the one for the absorber. It does not turn off either :( I do think though that the calibration process simply is not turning off. I ran the calibration and then pointed the telescope at a number of different points and the spectra kept changing all the while, seemingly incorporating the spectra/signal strengths of associated with each point into the continuing developmen

[2015-06-24 15:05] theDarkLard commented on #112
Otherwise, as @edaniscewski posited, the procedure isn't meant to turn off or the button is meant to stay green. But I don't have a way of knowing for sure what is going on. Maybe we should pop off an email to Alan Rogers or to your friend Meredith @hcrowl?

[2015-06-24 15:06] theDarkLard commented on #112
I've also been trawling though the code some more but with no luck.

[2015-06-24 15:19] theDarkLard commented on #112
Oh and I should say a little bit about calmode 2. When you run the calibration, a little message bar pops up that says "enter to start bandpass cal,"  so I guess it must do something entirely different..? Calmode 20 displays "place absorber enter," so that's definitely the absorber mode. Obviously this is contradictory to what the help file says. Also, I've seen this before but hadn't considered i

[2015-06-24 18:47] hcrowl commented on #112
Here is a procedure derived by Meredith Hughes (Wesleyan University):

Intro level: bandpass only
Usually I'm just having them measure galactic rotation or the antenna beam width on the Sun, neither of which requires a precise Tsys calibration.  But galactic rotation does require a good bandpass calibration.  For this I just have them use the automated routine, which does bandpass beautifully (but

[2015-06-24 18:50] hcrowl commented on #112
Oh! And the "absorber on a stick" that Wesleyan uses is a piece of "Eccosorb AN-77" on the end of an extendable rod.

[2015-06-24 21:10] edaniszewski commented on #112
It would be cool if we had a little device that could cover the receiver with an absorber with a push of a button. Maybe I dream too big though.

Its good that we have a calibration process - some of it seems needlessly manual and could be/should be handled by the software. It is what it is, I guess.

[2015-06-25 00:40] edaniszewski commented on #16
I found a decent UI framework that is cross-platform, wxWidgets. I can try to re-do the UI, which would then allow us to separate out the back end to hook into the new UI, though this would be a slow task.

@theDarkLard @hcrowl  -- Do you have any ideas/suggested improvements for the UI? I could make it look the same as it is now (or probably at least similar), but I think it could be improved. (s

[2015-06-25 13:04] edaniszewski commented on #16
Simple mockup using Balsamiq:

![srt mockup](https://cloud.githubusercontent.com/assets/1195651/8354840/2a58a332-1b19-11e5-86f1-a3aa9e48f091.png)

[2015-06-25 13:32] theDarkLard commented on #16
This looks wicked cool! Would much rather use this over what the current UI
is. Updating variables in srtn itself would be a lovely addition. Also this
is really nit picky but something that the old java srtn did which I
thought was really cool was it color coded the tracing in the power v time
plot, so like the line would be red for 0-400 K, blue for 400 - 800 K,
green for 800+K. I think this re-

[2015-06-25 13:33] #114 closed

[2015-06-25 13:37] theDarkLard commented on #112
I love how there's a fancy letter-digit name for a piece of foam.

[2015-06-25 13:59] edaniszewski commented on #16
Doesn't sound nit-picky at all! It doesnt sound like it would be too difficult to implement *knock on wood*.
Of course, it would take some time to construct the UI, and then more time hooking up the logic to the actual UI.

There is a reason this went to Dreamland, but its good to have dreams.

[2015-06-25 14:00] edaniszewski commented on #112
It's designer foam :cocktail:

[2015-06-25 14:31] hcrowl commented on #112
It *is* pretty fancy foam.

Having a push-button way to have the foam go into the beam would be cool. On the other hand, I'd be slightly worried about the foam obstructing something it shouldn't when it was in its "stowed" position.

I agree that it's a bit manual. There's part of me that, from an educational perspective, like's the manual nature of it. On the other hand, some automation would be

[2015-06-25 14:33] hcrowl commented on #16
This is maybe Dreamland, but maybe not. If Brendon works on this for advanced work, it would be very attainable. What do you think, @vpascow?

[2015-06-25 15:52] theDarkLard commented on #16
another welcome addition would be a text box for command entry. The java version had it but it seems like the c verison does not, and it makes assigning a command file other than the standard one (cmd.txt) annoyingly difficult. in the java version, you could enter the command file name into the text entry box and then srtn would execute it. right now, I'm trying to figure out how to get srtn to ex

[2015-06-25 16:00] theDarkLard commented on #16
Ok ao figured it out. You've gotta write it into the srt.cat file with the keyword COMMAND and then your file name. For example, like this: COMMAND cooltest.txt. Important note, it reads .txt files, not .cmd files. What happens is you put in the command file into srt.cat and it automatically executes it when you run srtn. But it shouldn't be like this...in other words, we shouldn't have to input a

[2015-06-25 17:44] hcrowl opened #119 "Measure the size of the beam"
We are told that the beam of this telescope is ~6 degrees. That is consistent with what we would expect from the simple diffraction-limited resolution equation: resolution = 1.22 * wavelength/diameter

We should actually measure the size of the beam. Some basic details here: http://www.ras.ucalgary.ca/radiotel/calibration.html

[2015-06-25 18:34] edaniszewski commented on #16
@theDarkLard in the mockup I posted, my idea was that the text input box (above the log console, below the top row of buttons) could serve as this. If we want to get *really* fancy we could have a kind of [DSL](https://en.wikipedia.org/wiki/Domain-specific_language) so you could type something like

[code]
or
[code]
or
[code]

You get the idea... This would essentially be creating a kind of shell

[2015-06-25 18:41] edaniszewski commented on #16
Definitely attainable. I don't know a TON about UI stuff, but its a bittersweet thing to dabble around in (it really should be easier to create UIs at this point in the game....) The laying out and design isn't too bad, though can be finicky. The more challenging aspects are event handling, fault tolerance (who wants a UI that crashes every 2 minutes), etc. Thick clients like this seem (in my limi

[2015-06-25 18:43] hcrowl commented on #16
yaesu.bennington.edu

[2015-06-25 18:51] edaniszewski commented on #16
I'll donate $1000 to the physics/astro/let-hugh-do-whatever-he-wants-with-this-fund fund if this happens.

[2015-06-25 19:34] theDarkLard commented on #16
HAHA! and yeah I'm a total idiot how did I miss that...I was just raging hard over how srtn just loves to not work the way it's supposed to.

[2015-06-25 19:40] theDarkLard commented on #119
It is also one of the MIT srt student labs: http://www.haystack.mit.edu/edu/undergrad/srt/SRT%20Projects/

[2015-06-26 17:42] theDarkLard commented on #119
wrote a command file to carry out the test, seeing if it works now

[2015-06-26 17:58] theDarkLard commented on #119
Well srtn crashed before the procedure finished...but it worked up to that point! And the rotor limits definitely work! It also made a cool little intensity map of the sun.

[2015-06-26 18:09] edaniszewski commented on #119
pix or it didn't happen

[2015-06-26 18:11] edaniszewski commented on #119
also, from your wiki post

I think that's hilarious. I'm laughing on the inside.

[2015-06-26 18:27] theDarkLard commented on #119
srtn is laughing at me too :(

[2015-06-26 18:37] edaniszewski commented on #119
for that particular thing, after looking at it quickly (my break is almost over :cry: ), it could be that in `cmdfl.c`, around line 140:

[code]

the sscanf(...) isnt successful, thus giving a return code of 0, so it doesn't enter the if conditional. If d1.foutstatus is not set to 1, in `outfile.c`, the file name is set to a YYYYDDhh format.

Though, thinking about it, since the named file is bein

[2015-06-27 02:13] edaniszewski commented on #16
It has begun..

![screen shot 2015-06-26 at 10 12 05 pm](https://cloud.githubusercontent.com/assets/1195651/8390051/88727136-1c50-11e5-965f-69456f9d6aaa.png)

[2015-06-27 02:26] acencini commented on #16
hugh,

i will work on securing a second yaesu hat for engineer daniszewski.

sent from 36,000 feet.
--andrew

[2015-06-27 03:00] edaniszewski commented on #16
never too early for some yaesu stocking stuffers

http://www.amazon.com/YAESU-NO-SAKABA-Crown-Japan/dp/B00Z7SNNT0/ref=sr_1_51?ie=UTF8&qid=1435373835&sr=8-51&keywords=yaesu
http://www.amazon.com/CafePress-yaesu-shirt-Light-T-Shirt/dp/B00WZ75H2W/ref=sr_1_59?ie=UTF8&qid=1435373852&sr=8-59&keywords=yaesu&pebp=1435373903865&perid=00EJ1B8H4B0J1HGQKG8T
http://www.amazon.com/Vintage-Advertising-Postcard-O

[2015-06-27 16:14] edaniszewski commented on #16
@theDarkLard progress on in-UI customizable properties -- the future is near

![screen shot 2015-06-27 at 12 11 49 pm](https://cloud.githubusercontent.com/assets/1195651/8392836/d5e93b6e-1cc5-11e5-9535-ee92f820dea0.png)

[2015-06-27 16:49] acencini commented on #110
a possible path for this is to encapsulate the stuff that needs to be highly optimized (e.g. the serious math) in C, but wrap the rest in Python.  this is sort of what Python is "for" and will speed development.

this may already be in progress, but i was thinking about this and think it might make sense to tease apart the mundane stuff (including the controller control) which would be easier in P

[2015-06-27 16:52] acencini commented on #18
@hcrowl @edaniszewski @theDarkLard  - this is really easy to do once you have a set of all of the files needed to drop on the system.

a .deb package is basically just an ar archive, containing a file indicating it is a .deb package, plus a data archive (data.tar.gz or data.tar.zz) comprised of the file "tree" and control archive (control.tar.gz or control.tar.zz) which indicates where the data st

[2015-06-27 16:54] acencini commented on #18
if you wanted to be super studs, you could probably also get this working on a raspberry pi - don't know if there is enough compute horsepower, and getting the intel libraries to compile on ARM may be tricky, but that would be kind of an amazing thing and would also drop the cost.  Raspbian is debian based, so the only real thing would be cross-compiling; but you could put together a .deb package

[2015-06-27 16:58] acencini commented on #15
for this there should be hotplug support somewhere in the OS that may help.

https://www.kernel.org/doc/Documentation/usb/hotplug.txt

i have been spending a lot of time on kernel stuff, and with kernel devs lately, so i think this is something that should be doable but if not let me know.  this seems fixable.

[2015-06-27 16:59] acencini commented on #1
ah i mentioned this already!  #110 or #18 mentions this, I think

[2015-06-27 16:59] acencini commented on #1
yeah, #18

[2015-06-28 12:57] edaniszewski commented on #15
libusb (which the project already uses) supposedly has some hotplug suppprt, but I don't think it is cross-platform /: http://libusbx.1081486.n5.nabble.com/Libusbx-devel-Usb-hotplug-library-for-linux-and-windows-td1396.html

[2015-06-28 12:59] edaniszewski commented on #110
:+1:

playing around with this could be a fun way of getting my hands dirty with pyserial

[2015-06-28 15:13] theDarkLard commented on #16
Oh my god all my dreams coming true!!

[2015-06-28 15:18] theDarkLard commented on #15
I have been wildly unplugging and plugging the dongle back in with srtn running and it seems that the data stream does recover. I will check this again tomorrow to make totally sure.

[2015-06-28 15:20] theDarkLard commented on #18
Cool. Will look into this more tomorrow to see if it's feasible for me to figure out..otherwise I'm tossing it back to you more adept computer users.

[2015-06-29 04:09] edaniszewski commented on #16
related: #115

still a bit of work to be done, but.. progress

![screen shot 2015-06-29 at 12 03 15 am](https://cloud.githubusercontent.com/assets/1195651/8400827/b204922e-1df2-11e5-98c7-50cf98eb19af.png)

[2015-06-29 04:12] edaniszewski commented on #16
also not seen: some work on having session state, so (hopefully) any values/UI state can be saved when the UI quits, and gets reloaded when the ui starts.

might push to future version, since it seems more important to figure out how to display/draw graphs.

[2015-06-29 13:33] theDarkLard commented on #16
ur a g e n i u s

[2015-06-29 14:38] edaniszewski commented on #16
fixed that for you

[2015-06-29 15:25] hcrowl commented on #107
Just cleaning up. This has been fixed for a while. @acencini and I traced it to some mis-wiring in the rotator and replaced the controller with a new one. The old one is there if someone wants to practice soldering.

[2015-06-29 15:25] #107 closed

[2015-06-29 15:26] hcrowl commented on #106
Tested and verified by @theDarkLard.

[2015-06-29 15:26] #106 closed

[2015-06-29 16:02] theDarkLard commented on #119
Alright so. Been running the beamsize test for two hours. SRTN keeps freezing when the telescope reaches the sun during the elevation scan. Gonna reset the limits in SRTN/hard limits so the rotor goes past 90 degrees and keep on trying. If it doesn't work in the next 3-4 tries, it's back to the drawing board.

[2015-06-29 16:03] theDarkLard commented on #119
I could do it manually but I really want this command file thing to work. Manual beamsize test is plan b.

[2015-06-29 16:06] theDarkLard commented on #117
Doing this via measuring galactic rotation curve. The galactic center doesn't rise above the horizon until about 10:00 pm so this will have to wait till tonight or tomorrow night.

[2015-06-29 19:50] theDarkLard commented on #119
Crashed three times again. Doing it manually.

[2015-06-29 20:10] theDarkLard commented on #119
shorter el scan finished its run.

[2015-06-29 20:11] theDarkLard commented on #119
no crashing!

[2015-06-29 20:11] theDarkLard commented on #119
will resume tomorrow with slowly bumping up limits to see how many degrees of offset induces a crash.

[2015-06-29 20:13] theDarkLard commented on #115
Came up with minimal results during my search today. I have a feeling that either we're using the wrong port, the port isn't open, or that a firewall (?) is blocking the connection to the camera.

[2015-06-29 20:27] hcrowl commented on #115
Everything seems to work on the camera end. I'm able to reach it on my Mac laptop using VLC.

[2015-06-30 13:19] theDarkLard commented on #115
Hmm. Yeah then it might be a firewall thing...that was the other main reason people had difficulty getting a stream going. Or it's something else entirely which would not surprise me..ha!

[2015-06-30 14:41] theDarkLard commented on #119
So it seems that srtn starts crashing at offsets greater than 20 degrees. Both 25 degrees and 22 degrees caused crashes but 20 remains stable. Going to do a manual test as well to have the full 30 degree offset range, then get down to plotting and calculating beamsize.

[2015-06-30 14:48] theDarkLard commented on #119
Now that I think about it, maybe a manual test isn't such a good idea because I hhave no way of tracking the sun. Will see how feasible the results from the 20 degree offset scan are.

[2015-06-30 15:08] theDarkLard commented on #119
*Evan is a doofus alert* ~~~~~ So i forgot to write a stop record command in the command file so I was doing another run through but now srtn is crashing at offsets of 20 degrees. Trying again, will move back down to 15 if necessary and maybe then back up.

[2015-06-30 15:15] edaniszewski commented on #119
When it crashes, is there a stack trace or error message that shows up in the command line (assuming it is still being run via command line)?

[2015-06-30 15:36] theDarkLard commented on #119
Both 20 and 15 crashed. Turning everything off and then back on because that's what always fixes everything.

[2015-06-30 15:48] theDarkLard commented on #119
Well my plan for fixing everything broke everything instead. Srtn can't even get through the first azel command. I will persevere.

[2015-06-30 15:50] theDarkLard commented on #119
@edanisweski no, nada. Everything just stops and then once you force quit it it just says "Killed"

[2015-06-30 15:50] hcrowl commented on #119
Can we (and by "we," I mean "you," @theDarkLard) dig into why we think this is failing? Is this some incompatibility with srtn running on our (somewhat) non-standard system? A general issue with srtn? A problem of it not handling errors gracefully? Something else?

[2015-06-30 16:06] theDarkLard commented on #119
Oh my god it finished a scan! @hcrowl I'll do my best but I'm not promising anything. I have a feeling this is an endeavour that involves me fruitlessly reading through code that I don't understand, looking for "something" while I don't really know what that "something" even is. Still, I must seek out the portal that leads out of this pergatory of computer ignorance. Will let you know what I find.

[2015-06-30 16:36] edaniszewski commented on #119
@theDarkLard If there are some bits of code that you can't figure out, drop me a line and I can try to explain. Past that, I don't think I can be much use here, being remote and all.

If all else fails, pray to Yaesu for guidance.

[2015-06-30 17:14] theDarkLard commented on #119
Thanks @edaniszewski, you're a god-send. I've gotten sidetracked trying to come up with a way to process the data from the successful run, but once I start digging around you'll most likely be hearing from me.

[2015-06-30 17:43] theDarkLard commented on #119
*Yaesu-send

[2015-07-01 01:44] edaniszewski commented on #16
stole some code, got a graph

gotta figure out the sky plot thing, clean up a few things, add some configurability, then the next big step would be integrating with the backend..

![screen shot 2015-06-30 at 9 20 17 pm](https://cloud.githubusercontent.com/assets/1195651/8445874/c3ae612e-1f70-11e5-9b1e-83f88a1482f7.png)

[2015-07-01 04:01] edaniszewski commented on #16
started branch `ui-dev` which I am going to push nightly (or whenever-I-have-timely) builds to, instead of posting screenshots all the time.

to run the in-development UI, assuming all files are pulled down from the branch, simply run
[code]

requirements: Python 2.7, `wxPython`, `OpenCV`, `matplotlib`, `numpy`, `pylab`

for wxPython and OpenCV, see websites/google on how to install. For others, I

[2015-07-01 18:14] theDarkLard commented on #119
I've been trying to make sense of this output file...calculated avg Tant for each spectra then analyzed the time and position each spectrum was taken, but as I was attempting to make a plot, none of it added up, so I think what's wrong with it is that it is the results of that scan (the one that makes the cool color intensity map of the sun) that srtn was doing even though i wouldnt tell it to. I'

[2015-07-01 19:23] theDarkLard commented on #119
Any scan I try to do with any amount of sort-of workable magnitudes of offsets crashes. Seems to be getting worse and worse. Praying to Yaesu for guidance. Will dig into the code as a last ditch effort to see if anything pops out at me.

[2015-07-01 19:27] theDarkLard commented on #16
@edaniszewski you're the man.

[2015-07-01 21:59] edaniszewski commented on #119
hmmm. are we using any hardware that wasnt in the MIT specs? I find it weird that it keeps crashing and not performing as it should, when it (presumably) is working for others who use it.

we did make some modifications to the software to get it to work on Ubuntu, but IIRC they were just changing some array/buffer sizes -- nothing that I would expect to create havoc and pandemonium..

[2015-07-01 22:02] edaniszewski commented on #16
Oh how I spoke too soon. Tried it on windows today. There are some problems getting the library dependencies with windows (particularly numpy, but since almost every other library depends on numpy, there isnt really a workaround). Sooo, lets just say that it should work on *nix systems? Maybe..

[2015-07-01 22:04] acencini commented on #16
if you're using windows, you shouldn't be looking at the universe

$0.02

[2015-07-01 22:43] edaniszewski commented on #16
I think we found the new tagline for srtn

[2015-07-02 13:38] theDarkLard commented on #119
Yeah all our hardware is the same. Hugh recalled the changes to the software but I think we also brushed it off as too insignificant to be causing such a problem (or maybe it was in terms of the weirdness of the calibraiton procedure?). I didn't really see anything that popped out at me as weird when I was looking through it yesterday but ill give it another shot.

[2015-07-02 14:12] edaniszewski commented on #119
Yeah.. I read through all the github commit changelogs last night and even did some minor comparisons with a clean version of srtn v3 from the MIT site, and it looks like the only code changes were either formatting, organizing, removing dead code, or adding comments.

I know we were having trouble with getting the right version of gcc and gtk.. I don't remember if we ended up getting the exact ve

[2015-07-02 14:14] edaniszewski commented on #119
I don't know if you are following any of the MIT docs/which of the docs you may be looking at to guide the calibration process, and other processes. I took a look at 2 of the docs on the MIT site though, and it seemed like they were describing the old java version. Could be that the procedures described there are different than they would be for the C versions.

[2015-07-02 15:14] theDarkLard commented on #119
I am indeed following the MIT docs, but I have found that the commands all *nearly* work the same, the only major difference I've noticed is that a source command like "galactic 10 0" doesn't work, but that's pretty minor and there are ways to get around. The offset commands work as intended in both versions as far as I can tell, srtn just keeps on freaking out during the elevation scan.

Addition

[2015-07-02 15:19] theDarkLard commented on #119
Also @edaniszewski if you know of any good libraries/python methods *off the top of your head -- plz don't do any unecessary research* -- for data extraction, give me a holler. But really only if its off the top of your head, I'm going to look into it myself once I trawl through this new output file a little bit.

[2015-07-02 15:28] edaniszewski commented on #119
Depends what you mean by data extraction. If you mean extracting the data from the output files generated from the software, you'd be fine using the Python standard library to write something which would open the file, parse out what you want, then save the data to CSV format or something (could use the [csv](https://docs.python.org/2/library/csv.html) library for that)

if you want to do data ana

[2015-07-02 15:33] edaniszewski commented on #119
also, @theDarkLard , if you do write a parser for the output files, you could probably check it in to the repo, since that seems like a useful bit of code to have with this.

[2015-07-02 15:54] theDarkLard commented on #119
Cool, thanks for the tips, will certainly drop it into the repo If i am successful!

[2015-07-02 17:47] theDarkLard opened #120 "Parse data from output file into a format readable by gnuplot"
what are computers

[2015-07-02 17:48] theDarkLard commented on #120
Related #119

[2015-07-02 20:09] theDarkLard commented on #119
Spent a lot of time today trying to figure out #120 , got very confused and lost, decided to go manual for a bit to make myself feel better, made a plot. It looks nice! Haven't figured out how to save it to an image so I can't post it here but it's something. I kind of also want to throw this data into logger pro since they have those nice line fitting capabilities and use that to calculate beamwi

[2015-07-03 01:31] edaniszewski commented on #110
13744e66baf275ca12bfc3538b3d10c303c4e020

took a crack at converting the serial Rot2Prog controller into Python. I know now what all the magic numbers mean. Source documentation credit: http://ryeng.name/blog/3

Still need to figure out how to test this. Probably through some kind of serial emulator. @acencini ?

[2015-07-03 01:34] acencini commented on #110
i think you should have @thedarklard help test it with the controller

otherwise, you'd need to know intimately how the rotator controller works

that said, if it's pretty simple, yes an emulator would work - you can use the socat tool to create a "fake" serial device that you can run in a separate process or thread that listens for incoming requests, and returns some result based on that request

[2015-07-03 06:44] theDarkLard commented on #117
I was able to get some help tonight to run the rotation curve survey, it should be finishing up soon!

[2015-07-03 06:55] theDarkLard commented on #117
A quick peruse through the output file showed vlsr to increase steadily at each point on the galactic plane, so that's promising!

[2015-07-03 15:06] theDarkLard commented on #110
I'd love to help test it! @edanisweski did you push your code to github? Are there any install things I should know about?

[2015-07-03 16:22] edaniszewski commented on #110
@theDarkLard I pushed the code I wrote to the dev branch, but all I wrote was the controller class, no actual code to instantiate and run it. I could put together a test file which would try to connect over /dev/ttyUSB0 and then execute a few commands. Really there are only 3 commands the controller supports: set, status, and stop, which is explained in link in my previous comment as well as the c

[2015-07-03 17:12] edaniszewski commented on #110
@theDarkLard

https://github.com/BenningtonCS/Telescope-2014/tree/dev/src/python/serial_controller

the test code is in the 'test' folder. You need the entire 'serial_controller' directory to run the test (could either clone the branch, or download the branch as a [zip](https://github.com/BenningtonCS/Telescope-2014/archive/dev.zip) )

then, cd into the test folder, and
[code]

which should then g

[2015-07-03 18:30] theDarkLard commented on #119
Az Scan plot:

file:///home/radiotelescope/beamsizeAz.png

So as you can see it peaks at like +7 degrees offset, so the feed must be nudged to the side a little bit. Will futz around with it to get it straighter.

[2015-07-03 18:31] theDarkLard commented on #119
Sorry here it is.

[2015-07-03 18:47] edaniszewski commented on #79
the rot2prog serial controller has three commands, one of which is 'stop'. It doesn't look like this was being used in the MIT version, but rest assured, it will be (is, assuming tests pass) surfaced via the Python API implementation.

[2015-07-03 18:54] theDarkLard commented on #119
Plots! So as you can see the az scan pot peaks at about +7 degrees, so the feed must be off center a bit. I'm going to futz around with it a bit and do another scan to see if I fixed it, then redo the el scan as well.
![beamsizeaz](https://cloud.githubusercontent.com/assets/6722674/8503819/746b34c8-2193-11e5-8b39-bb80acd5cabe.jpg)
![beamsizeel](https://cloud.githubusercontent.com/assets/6722674/85

[2015-07-03 18:59] hcrowl commented on #119
Nice plot. Agreed that this makes it look like the feed is not precisely aligned.

[2015-07-03 19:05] edaniszewski commented on #119
this is so cool :+1:  :us:

[2015-07-03 20:49] theDarkLard commented on #119
Been working on aligning the feed...it's better, about 4 degrees off center now. Tried to get another El scan in but it kept crashing :(. I've gotta run now but I'm taking the output files with me (including the rotation curve one) to make something of them over the weekend. Even thogh the feed is still off center, the entire beam was dragged through the sun so we should be able to get some sort o

[2015-07-06 16:32] theDarkLard commented on #119
Finally got the beam aligned..peaks at 0/1 degree offset during a sun scan. Now that I've got a good Az scan, going to make another pass at an El scan and work on the Az plot.

[2015-07-06 16:46] theDarkLard commented on #119
So I finally got the beam aligned..however, the strongest signal comes in at 0 degrees offset only when the feed is NOTICEABLY schewed from the center. And when the feed is in fact centered, there's about a 5 degreed offset from where the peak should be. So I think the issue is that the telescope doesn't have a totally accurate picture of where the Sun is, and thus where anything is. @hcrowl, do y

[2015-07-06 16:57] theDarkLard commented on #119
Now that I think about it, I'm not sure that changing the lat/lon settings is gonna do it...I think it will throw the whole telescope off instead, and I think resetting the rotor will have a smiliar effect, so I'm going to leave those ideas alone for now. Instead, I'm going to account for the pointing weirdness in the command file, i.e. push all the offsets forward by 5 degrees.

[2015-07-06 17:10] theDarkLard commented on #119
Max power is at offset 3 degrees with correct alignment.

[2015-07-06 17:53] edaniszewski commented on #119
not sure if this would matter at all, but I noticed something odd in the time.c file on line 25

[code]
It seems like its getting the number of years since 1970, but its doing it from 2011, not 2015. I dont think this would be enough to make that much of a degree offset difference, but I'm no doctor. Perhaps changing the 2011 to 2015 could do something? Or maybe it would just break it more.

You c

[2015-07-06 18:13] theDarkLard commented on #119
Yeah I set it at the beginning of the summer to Btown's location, so that should be accurate. I'll try the 2015 thing now.

[2015-07-06 18:25] theDarkLard commented on #119
Well I'll be darned. Seems to have done the trick. Huzzah! Yaesu bless you @edansizewski!

[2015-07-06 18:26] theDarkLard commented on #119
Well I'll be darned. Seems to have done the trick. Huzzah! Yaesu bless you @edaniszewski!

[2015-07-06 20:13] theDarkLard commented on #119
Revised plots
![beamwidthazscan](https://cloud.githubusercontent.com/assets/6722674/8532119/fe5d8876-23f9-11e5-8575-1dbf9e12578e.jpg)
![beamwidthelscan](https://cloud.githubusercontent.com/assets/6722674/8532123/0188fee0-23fa-11e5-98a4-6651b489b89a.jpg)

[2015-07-06 22:13] edaniszewski commented on #119
This is awesome. I'm so happy I was able to figure something out and help.

Funny thing is that even in the new version on the MIT Haystack site (v4), they still have the time calculation as (2011 - 1970).

[2015-07-07 14:00] theDarkLard commented on #119
Once you have the plots it turn out calculating beamwidth is super easy. Our plots are very obviously a Gaussian curve so you can find the full width at half maximum (FWHM) to find the beamwidth in degrees, since the x axis is already plotted in degrees. To get the FWHM, pick out your maximum y-value (maximum Tant) and half it. Then find at what number of offset degrees the plot passes through the

[2015-07-07 14:12] theDarkLard commented on #119
Also I'm thinking I should redo the rotation curve survey now that our pointing is fixed up.

[2015-07-07 14:13] theDarkLard commented on #120
Now that I've done something concrete with the telescope (#119) I feel less antsy about learning some python. Will be doing this today.

[2015-07-07 15:37] hcrowl commented on #119
It's weird to me that the year would be hard-coded in and would make so much of a difference, but there you go. There should be a way to get the year from the system clock within C, right? That's probably something you could figure out @theDarkLard, even without a ton of C experience . . .

The much larger beam in azimuth is surprising. Did you do this after you did the year fix that @edaniszewski

[2015-07-07 15:39] hcrowl commented on #119
And agreed that you should re-do the rotation curve now that pointing is working better. . .

[2015-07-07 16:34] theDarkLard commented on #119
Will mega calibrate and do another scan today and post results.

[2015-07-07 16:38] hcrowl commented on #111
Any progress on this? Is it true that this hasn't crashed since we took the case off of the dongle?

[2015-07-07 16:42] edaniszewski commented on #111
If having a diagnostic check independent from the srt software is still desirable, there is a python wrapper for the C API
https://github.com/roger-/pyrtlsdr

should be easy enough to write a small python script to collect data throughout the day.

[2015-07-07 17:05] theDarkLard commented on #119
It's raining at the moment, hopefully it will clear up in a bit though.

[2015-07-07 18:25] theDarkLard commented on #119
I've run into some funkyness on the calibration bit. I've been trying to do the "advanced" calibration technique, but there's one snag: when you do the software calibration procedure, it turns "pwr" into
"Tant." I calculated the y factor and tsys form the Tant measurements (they are recorded in an output file so I can get onto the roof and hold the absorber in front of the feed) and got a tsys of

[2015-07-07 18:25] theDarkLard commented on #119
Will now do another run of the az scan.

[2015-07-07 19:15] theDarkLard commented on #111
Yeah, @hcrowl, no crashes since you took the casing off.

On Tue, Jul 7, 2015 at 12:42 PM, Erick Daniszewski <notifications@github.com

[2015-07-07 19:39] theDarkLard commented on #111
I would say it's fine to close this.

[2015-07-07 19:39] #111 closed

[2015-07-07 19:40] theDarkLard commented on #119
New plot:
![beamsizeaz](https://cloud.githubusercontent.com/assets/6722674/8555474/6336e4f8-24be-11e5-8e2f-e1e49f1e56a6.jpg)
Beamwidth calculated from this plot is 12.03 degrees. Still larger than expected by a factor of 2, but better than before.

[2015-07-07 19:41] theDarkLard commented on #119
Also, peak Tant was at 1 degree offset, so the feed just needs to be jimmied around  ever so slightly.

[2015-07-08 15:09] theDarkLard commented on #119
I decided to check if the telescope was still aligned with true north and it turns out that it was actually aligned with magnetic north, so the hard set must've never stuck when I did it weeks ago. The hardsets are definitely correct now, but there is some weirdness with making those settings in the controller. I had to make the hard sets 3 times before the rotor was where I wanted it to be. A wei

[2015-07-08 16:35] theDarkLard commented on #119
I had set the stow position in the wrong direction from north so I have been realigning it. Moral of the story: take what your iPhone compass says with a grain of salt. Reset the stow position according to the offset of the peak Tant during an Az scan, worked like a charm.

[2015-07-08 16:35] theDarkLard commented on #119
I had set the stow position in the wrong direction from north so I have been realigning it. Moral of the story: take what your iPhone compass says with a grain of salt. I reset the stow position according to the offset of the peak Tant during an Az scan, worked like a charm.

[2015-07-08 16:36] theDarkLard commented on #119
Making yet another for real scan.

[2015-07-08 16:38] theDarkLard commented on #120
Almost ready to start writing this, been going through the python lesson on code academy and it has been helping a ton.

[2015-07-08 17:53] theDarkLard commented on #119
Finished making another plot but then I noticed that you can fine the pwr in the read out of srtn while it's running, so I'm going to make another pass at the advanced calibration and then make another scan.

[2015-07-08 18:09] theDarkLard commented on #119
Alrighty so Phot 435 K, Pcold = 188 K, giving a y factor of 2.314. Thot = 297 K, Tcold = 3 K, giving a of
Tsys = 220.78 K. This is pretty high, will start brainstorming ways to pinpoint and reduce noise in our system.

[2015-07-08 18:59] theDarkLard commented on #119
Ok here's a new plot, with all the bells and whistles.
![beamsizeaz](https://cloud.githubusercontent.com/assets/6722674/8579306/caf666fe-2581-11e5-891a-3f8ef5a728fe.jpg)
The beamwidth in the "x-pane" of the beam calculated from this plot is 12.68 degrees.

[2015-07-08 19:07] edaniszewski commented on #120
:snake:

[2015-07-08 19:11] hcrowl commented on #119
This is weird. I mean, the plot looks great, but I don't understand why the beam would be so asymmetrical. I mean, I don't think it should be. Let me think about this for a while.

[2015-07-08 19:13] hcrowl commented on #119
I'm also suspicious that the beam is almost exactly twice as large as it "should" be. Are we sure we trust the az positions that srt is getting?

[2015-07-08 19:16] theDarkLard commented on #119
Yeah and even if you look at some of the earlier plots they all have this same sort of asymmetry, where the top kind of curls to the left. I feel very confident in the az positions. A big chunk of today was getting the telescope accurately aligned, so the positioning is not what I'm worried about anymore. In the y/El direction, the beamwidth is right around where it should be, it is only blown out

[2015-07-08 19:23] hcrowl commented on #119
OK. Maybe try doing the same thing on some other bright radio source? I'm hesitant to chalk this up to a telescope issue until we've seen it on another source - maybe a point source?

[2015-07-08 19:26] theDarkLard commented on #119
OK sure, maybe I'll try Taurus A? Unless you have any other suggestions?

[2015-07-08 19:28] edaniszewski commented on #119
perhaps nothing, and it doesnt seem like it would really be related to this, but when I was looking at the serial protocol for the **rot2prog**, I found [a site](http://ryeng.name/blog/3) that specified it, which said:

the (apparent) part that does this calc in the C code (3rd and 5th arg of the `sprintf` function):

[code]

which, looks like its missing the `* 2` portion of it. This multiplicati

[2015-07-08 19:56] hcrowl commented on #119
Taurus A sounds good.

The pointing is clearly generally OK, since it can point to the Sun just fine. Maybe there is some difference in how the offset gets implemented that doesn't have that factor of 2?

[2015-07-08 21:43] edaniszewski commented on #119
I'd be interested to see the results from somewhere something that is not the Sun. I dug around in the code looking for any smells around the offsets, or if anything about az offsets and el offsets are different, and I came across this little bit:

[code]

basically, if the source being tracked (I think via clicking the source in the bottom pane of the UI) is the sun, the average is

![codecogseqn

[2015-07-09 03:47] theDarkLard commented on #117
Running a rotation curve survey~!

[2015-07-09 05:30] theDarkLard commented on #117
Survey completed. Will take a look at it tomorrow

[2015-07-09 14:57] theDarkLard commented on #119
@edaniszewski I think this bit of code has something to do with how the average spectrum gets plotted in srtn when you're looking at the sun, perhaps to the end of not totally blowing out your spectrum.
@hcrowl to see if it's something in how the offsets get implemented, I'm going to sort of slowly pass the absorber in front of the feed in x/y directions and compare the two passes.

[2015-07-09 16:26] theDarkLard commented on #119
This manually passing the absorber in front of the feed business is really hard to do accurately.
Additionally I just did an AzScan of M1 and it's totally wacky. I think right now is a bad time to do it because it's so close to the galactic plane, so I think that's what is making the plot so weird. Am going to try later in the day.

[2015-07-09 17:49] theDarkLard commented on #119
It doesn't seem like M1 is going to get away from the galactic plane any time soon, do you have any other suggestions for a point source @hcrowl?

[2015-07-10 02:29] edaniszewski commented on #32
@theDarkLard

can this issue be closed?
https://github.com/BenningtonCS/Telescope-2014/wiki/Calibrating-the-Telescope

[2015-07-10 02:50] edaniszewski commented on #110
@theDarkLard

I realized that running the test I commit earlier (if successful) would move the telescope out of position, so you would have to realign it, which Im sure is a pain in the butt, so I just pushed an additional bit to the test code which will try and set it back to the position it was in before the tests began (again, assuming that the things works).

Just thought I'd let ya know!

[2015-07-10 02:55] edaniszewski commented on #110
oh, also @theDarkLard  @hcrowl
with the commit mentioned in the previous comment ( 1229553713779bcdede17be5f8067237003653f6 ) I added a stub for the command file parsing. I'm trying to keep backwards compatibility to some extent (e.g. command files for the MIT srtn version should still be able to be parsed correctly), but there is also nothing wrong with adding more to it.
I dont know if you use c

[2015-07-10 03:00] edaniszewski commented on #35
since deciding to move the trivial stuff to python:

http://pythonhosted.org/python-geoip/
http://stackoverflow.com/questions/2543018/what-python-libraries-can-tell-me-approximate-location-and-time-zone-given-an-ip

[2015-07-10 03:01] edaniszewski commented on #78
https://docs.python.org/2/library/logging.html

with a decent walkthrough:
http://victorlin.me/posts/2012/08/26/good-logging-practice-in-python

[2015-07-10 03:03] edaniszewski commented on #44
is this still a problem? I think i remember in a different issue thread someone made mention that it doesn't behave this way anymore?

[2015-07-10 13:37] theDarkLard commented on #32
yar matey.

[2015-07-10 13:37] #32 closed

[2015-07-10 13:37] #112 closed

[2015-07-10 15:42] theDarkLard commented on #119
I gave another go at an AzScan of M1, and the results are hilariously wacky. And by 'hilariously' I mean 'soul-crushingly.'
![m1beamsizeaz](https://cloud.githubusercontent.com/assets/6722674/8622232/56f30a0a-26f8-11e5-9839-7d48426d2c7f.png)
The big peak at around -15 -> -8 is the telescope passing through the galactic plane. What is interesting though is that the curvy-ness of the peak is present

[2015-07-10 16:05] edaniszewski commented on #119
definitely soul-crushing, but at least the graph has cool colors?

ignoring the weirdness that positive offsets go into negative Tants, I think its strange that the y-range for previous graphs is (0, 1400), but here its only (0, 10)..

[2015-07-10 16:08] hcrowl commented on #119
The change in scale is not totally surprising, since it turns out that the Sun is a bit brighter than most things in the sky.

We're going to try plotting full spectra for these objects, since it's not clear to either of us what the Tant value is that gets reported in the log file.

[2015-07-10 16:51] edaniszewski commented on #119
I figured it would be lower, it just surprised me that it was two orders of magnitude lower. I can't say I've seen too much in terms of radioastronomy data though, so I'll take this as a learning opportunity!

not sure that this would help figure out what the reported Tant value is, but the only place I have found where `d1.tant` is set (in the `aver()` function in main.c) :

[code]

where `pwr` i

[2015-07-10 18:12] theDarkLard commented on #119
wrote some code and made a plot! This is the spectrum of M1 looking directly at it.
![m1spectrum](https://cloud.githubusercontent.com/assets/6722674/8625578/a9ac1f06-270d-11e5-8ce3-7481eae61ca9.jpg)

[2015-07-10 18:18] theDarkLard commented on #120
part of code that is written:
generates a list of frequencies based on fstart, fstop, freq spacing taken from output file (not yet read from output file, this bit was manual)
matches items in freq list with items in pwr list

what still needs to be done:
have the parser read the output file, pick out the important bits, stick em in a list

[2015-07-10 19:14] edaniszewski commented on #120
useful bits

https://docs.python.org/2/tutorial/inputoutput.html#reading-and-writing-files
https://docs.python.org/2/library/stdtypes.html#string-methods

[2015-07-10 19:25] theDarkLard commented on #120
you are my guardian angel

On Fri, Jul 10, 2015 at 3:14 PM, Erick Daniszewski <notifications@github.com

[2015-07-10 20:01] theDarkLard commented on #119
new plot
![m1wee](https://cloud.githubusercontent.com/assets/6722674/8627984/e696047c-271c-11e5-928a-2e723cfe5a6a.jpg)

[2015-07-13 13:53] theDarkLard commented on #44
Yeah I haven't had any problems with this.

[2015-07-13 15:25] theDarkLard commented on #119
So the 2.4 MHz on top of the spectra is a consequence of some software mods to accomadate the dongle.

This is the line that prints the top bits of the spectra onto the spectra:
----
plot.c:    sprintf(txt, "Freq %8.3f MHz", d1.freq);
plot.c:    sprintf(txt, "I.F. %8.3f MHz", d1.bw * 0.5);
plot.c:    sprintf(txt, "BW   %8.3f MHz", d1.fbw);
plot.c:        sprintf(txt, "%3.1f-%3.1fMHz IF", d1.f1 * d

[2015-07-13 15:27] theDarkLard commented on #119
So the 2.4 MHz on top of the spectra is a consequence of some software mods to accomadate the dongle.
This is the line that prints the top bits of the spectra onto the spectra:

----
plot.c: sprintf(txt, "Freq %8.3f MHz", d1.freq);
plot.c: sprintf(txt, "I.F. %8.3f MHz", d1.bw * 0.5);
plot.c: sprintf(txt, "BW %8.3f MHz", d1.fbw);
plot.c: sprintf(txt, "%3.1f-%3.1fMHz IF", d1.f1 * d1.bw, d1.f2 * d1.b

[2015-07-13 15:30] theDarkLard commented on #119
So the 2.4 MHz on top of the spectra is a consequence of some software mods to accomadate the dongle.
This is the line that prints the top bits of the spectra onto the spectra:

[code]

This is where d1.bw comes from:

[code]

and here again:

[code]

And once more:

[code]

There is a similar line of code in main.c:

[code]

As you can see it is not set to 2.4, but d1.bw in the other files is, so

[2015-07-13 15:34] hcrowl commented on #119
OK. That's the bandwidth (i.e. the width of the frequency range
output), I think, not the central wavelength. So, that's fine.

I would set it to 2.4 in main.c, as well. It probably won't change
anything, but that's the way it should be.

[2015-07-13 15:46] theDarkLard commented on #119
Cool will do.

[2015-07-13 15:53] theDarkLard commented on #119
There is still a peak at 1420 in the top two spectra.

[2015-07-13 15:53] theDarkLard commented on #119
There is still a peak at 1420 in the top two spectra after calibration.

[2015-07-13 15:54] theDarkLard commented on #119
There is still a peak at 1420 in the top two spectra after calibration. The overall antenna temp is lower though.

[2015-07-13 16:47] theDarkLard commented on #119
Ok so after a long time of clickling around M1, I think it's hard to tell if it is what we're looking at because of the galactic plane. The signal from M1 and the galactic plane should compound with one another bu they are so close that it's really hard to tell. Also, I slewed to the Sun without clicking on Sun in the skymap, and the signal still peaks at about a -7 degree offset before the Sun, s

[2015-07-13 18:23] theDarkLard commented on #119
I slewed to the sun and then input a 7 degree offset to the east and let the sun drift into the center of the beam. I noted the time that the signal reached a peak and when the signal started to descend from the peak. I divided this time by half, figuring that that would be when the sun would be in the center of the beam, and multiplied that number by how many degrees per minute the Sun moves acro

[2015-07-13 18:24] theDarkLard commented on #119
I slewed to the sun and then input a 7 degree offset to the east and let the sun drift into the center of the beam. I noted the time that the signal reached a peak and when the signal started to descend from the peak. I divided this time by half, figuring that that would be when the sun would be in the center of the beam, and multiplied that number by how many degrees per minute the Sun moves acro

[2015-07-13 18:38] theDarkLard commented on #119
^^ Re-doing this because I forgot to change 2015 to 2011 in time.c and left out the time it took to get to peak in the calculation.

[2015-07-13 19:08] theDarkLard commented on #119
I redid the test/calculation and came up with a total error of 7.622 degrees to the west. However I noticed that the readout in terminal said that the telescope position was one degree west of where I had directed it, so the error ir really 7.622 OR 6.622 degrees off.

[2015-07-13 19:14] theDarkLard commented on #119
Wait sorry I was supposed to subtract the decimal because the Sun was moving into the beam:

New (real) Error:
6.388 or 5.388 to the west. (So to correct we would stow the telescope farther in the east)

[2015-07-13 23:42] edaniszewski commented on #44
Whelp, I guess that means this can be closed (I'll give you the honors @theDarkLard ). It can always be re-opened if it becomes an issue.

[2015-07-14 13:33] #44 closed

[2015-07-14 13:39] theDarkLard commented on #119
I'm going to close this and open a new issue for the pointing, since we know our beam is indeed in the 6 degree range.

[2015-07-14 14:09] theDarkLard opened #121 "Correct Pointing Weirdness"
So as of right now, our telescope has a pointing error of about 6.388 (or 5.388) degrees too far to the west. We know our telescope is aligned with true north and our lat/lon values are correct in the software. We know there is some weirdness concerning dates in the time.c file. M1 seems to be nearly impossible to use as a reliable point source because of its proximity to the galactic plane, so it

[2015-07-14 14:15] theDarkLard commented on #121
As a sidenote, when you calibrate the telescope and leave it looking at blank sky, the wide bandwidth discrete spectrum does in fact go flat.

[2015-07-14 15:09] theDarkLard commented on #121
I've been examining the time.c logic and trying to link it with formulas/calculations of GMST that I found online, but some things don't quite match up.
Time.c logic:

[code]

I found a PDF on calculating GMT. It says:

A formula relating the Greenwich mean (not apparent) sidereal time (GST) to the universal time
(UT), good during a given year can be found on page B8 of the Astronomical Almanac. I

[2015-07-14 15:21] theDarkLard commented on #121
the number 58.0778 does not show up in any of my searchings

[2015-07-14 16:54] theDarkLard commented on #117
Will do this again once pointing is corrected.

[2015-07-14 19:49] theDarkLard commented on #120
getting there

[2015-07-15 01:41] edaniszewski commented on #121
I found this http://www2.arnes.si/~gljsentvid10/sidereal.htm which seems to have some useful info in it.This part in particular seems to bring light to the 'random' numbers:

so the numbers seem to correspond to GMST (or perhaps GAST?) in time units, which is kinda shown in the comments of the code snippet you posted:

[code]

so perhaps the "magic" numbers (17, 15, 58.0778) are the UT time, thoug

[2015-07-15 13:21] theDarkLard commented on #121
Oh wow totally missed that UT in the comments there. But that's great that means we have everything we need to rewrite that first line, just need to find UT for 0hr for 2015. Yeah the 86164.09053 is a mystery to me as well, although it may be some sort of modified seconds value because there are 86400 seconds in a day. However, *why* this value is shaved in that line escapes me. Thanks a ton for t

[2015-07-15 14:12] theDarkLard commented on #121
Can't find the UT time for 0hr GST for new year 2015 on the internet. The GST calculators that I've found take UTC times instead of UT times so I can't back calculate it. @hcrowl do you have access to an astronomer's almanac or something of the sort that may list these times?

[2015-07-15 15:51] theDarkLard commented on #120
I have hand written fairly specific guidelines for how this code will be written, now I will start actually putting it all into code.

[2015-07-15 16:51] edaniszewski commented on #121
we could find it for 0hr for 2015, or we could generate the UT time for the current time (XXhr on XXday for 2015) for even more accuracy. I dont imagine the computational cost of doing this is prohibitive enough to warrant hardcoding of any time value. the less that can be hardcoded, the easier this beast will be to maintain.

[2015-07-15 19:59] theDarkLard commented on #120
What I have so far:
[code]

The formatting is the hard part. I'm still thinking out how to get the data to line up neatly under its respective data type. The wacky spaces in the concatenated string in the first for loop are there because of this formatting reason but there's definitely a better way to do it. But it's coming along.

[2015-07-15 20:00] theDarkLard commented on #120
Also the print statement in the second for loop is just sort of for testing.

[2015-07-16 11:52] edaniszewski commented on #120
very cool!!
there's probably a better way of handling the spacing, but that can be figured out later. One thing to note, where you have
[code]
the `str1` variable is out of scope, so the value which you would expect to be in it from the preceding `if` conditional is not actually there. In fact, I *think* nothing would  be in it, so you would be only writing the values in `str2` to file.

One way t

[2015-07-16 13:16] theDarkLard commented on #120
Ahhhh cool thank you!!

[2015-07-16 13:21] theDarkLard commented on #121
Yeah we also would  never really have to update the time.c file too often. And sorry what I meant by UT for 0hr 2015, I meant UT for 0hr 2015 in GST, if that wasn't already clear.

[2015-07-16 14:35] theDarkLard commented on #120
Hey @edaniszewski if you can spare a moment and take a look at this bit of code I would be very grateful:
[code]

It keeps throwing the "string index out of range" error and I can't figure out why...

[2015-07-16 15:36] edaniszewski commented on #120
Just quickly glancing over, the most likely place where it would throw that error is the line:
[code]
where `elem` is a string extracted from the list `v`. If you put a `print v` right after assigning to the variable, e.g.
[code]
I'd bet you'd see something like:
[code]
the offender is the 3rd string in (2nd index). Since it is empty, when you `elem[0]` over it, you are trying to get the value in

[2015-07-16 16:03] theDarkLard commented on #120
yes I think that's the problem!!
but the empty index is a little funky:
[code]

[2015-07-16 16:04] theDarkLard commented on #120
so there's an extra ', ' instead of a blank space

[2015-07-16 16:04] theDarkLard commented on #120
so there's an extra ', ' instead of a blank space, or nothing at all

[2015-07-16 16:16] theDarkLard commented on #120
im trying to solve this by saying like
[code]
but python doesn't like what blank is set to

[2015-07-16 16:20] theDarkLard commented on #120
nevermind i'm an idiot and forgot a colon after my if statement

[2015-07-16 16:23] theDarkLard commented on #120
aaaaaaaand I just accidentally deleted all of my code

[2015-07-16 16:24] theDarkLard commented on #120
found it in the trash. sorry for all the emails guys

[2015-07-16 17:16] theDarkLard commented on #120
ALRIGHT WE'RE BACK IN BUSINESS WITH SOME (almost) WORKING CODE

[2015-07-16 17:22] edaniszewski commented on #120
be careful here. I'm guessing that you want to set the value of blank, but instead, you are checking for equality.

Single = is to set a variable
Double == is to compare

[code]

[2015-07-16 17:25] edaniszewski commented on #120
I only skimmed through the results you posted, so I may not have seen something, but I dont think the case exists where you have the value `', '` in the list. Its kinda hard to read everything sequentially, so you can try reading element by element:

[code]

elements that do exist in the list are `''`, (two single quotes with no space between them). If a string is composed of 0->n characters, then

[2015-07-16 17:44] theDarkLard commented on #120
Yeah I got it all worked out :) ....almost

[2015-07-16 18:26] hcrowl opened #122 "Determine True North on the Roof of Dickinson"
Let's determine True North once and for all.

Tomorrow, July 17, 2015, local noon* occurs at 13:07:04 (i.e. 1:07:04 PM) EDT.

@theDarkLard and @hcrowl will meet on the roof of Dickinson at ~12:30 pm and set up a plumb bob. At the time of local noon, the shadow cast by the plumb bob will be exactly North-South. We will then use this line to determine True North.

*(http://www.esrl.noaa.gov/gmd/grad

[2015-07-16 19:52] theDarkLard commented on #120
Alrighty so first piece of this parse program is pretty much done, some formatting weirdness probably occurs but I need to look at the written files with a scroll-y text editor because its such a wide file.
[code]

@edanisweski if you have any edits you feel would make this work any better feel free to chime in. I am still but a novice coder.

[2015-07-16 20:03] theDarkLard commented on #122
Stoked.

On Thu, Jul 16, 2015 at 2:26 PM, hcrowl <notifications@github.com> wrote:

[2015-07-17 01:18] edaniszewski commented on #120
@theDarkLard
yeah! I have a few ideas, particularly on how to make the extraction/formatting of the elements easier. I'm going to play around with a few things and I'll let you know what I come up with.

Overall, I'd say you're doing pretty well for a 'novice coder'. Theres a bunch of stuff that can be optimized, which isnt really necessary but perhaps interesting to know,  and some funky code pat

[2015-07-17 16:32] theDarkLard commented on #120
Hey @edaniszewski , I've written the spectrum parser. There's one thing that I can't seem to get though and it's in the second for i,line in enumerate loop. For some reason the pwr values arent being extracted and funnelled into a list, maybe you can figure out why? Other than that it should be good to go. As always, feel free to make mods/corrections.

[code]

[2015-07-17 23:01] edaniszewski commented on #120
Im looking into this now. Not sure why that is happening but I'll figure it out. When I run this I get an exception:

[code]

so to fix this, it would be a simple change
[code]
becomes
[code]

the data file I'm using is the one checked in to the repo https://github.com/BenningtonCS/Telescope-2014/blob/master/src/c/srtnver3/2014_084_19.rad
not sure if it looks the same as the kinds of files you are

[2015-07-18 21:30] edaniszewski commented on #120
dunno if this gets at the data output format you want, but I cleaned up/optimized a bit of what you did:

[code]

the output file should look something like

[code]
with freq on the left and pwr on the right. if its not the output format you need, feel free to play around with it and change it! or let me know and I can change it. either way!

[2015-07-20 13:18] #122 closed

[2015-07-20 13:20] theDarkLard commented on #120
this looks perfect!!

[2015-07-20 13:21] theDarkLard commented on #120
check it into to the repo! (...b/c i don't really know how to do it :/ )

[2015-07-20 13:21] #120 closed

[2015-07-20 13:21] #121 closed

[2015-07-20 14:19] edaniszewski commented on #120
e22b12ec7428791263b059f69f8488d75b30d6c4

done!

[2015-07-20 15:03] theDarkLard commented on #119
I did another beamwidth survey with Cas A as a point source. Here are the results of the az scan:
![casabeamaz-1](https://cloud.githubusercontent.com/assets/6722674/8778933/92f5f85e-2ece-11e5-95cc-7b2f8c38d234.png)
I believe the middle peak is Cas A...the other peaks could be the side lobes but it seems suspicious that they would be nearly as powerful/more powerful as the central beam. The survey

[2015-07-20 15:41] hcrowl commented on #119
I am very skeptical that the central peak is the source since, as you say, there are other peaks that are just as big. What do the spectra look like at the places you pointed?

[2015-07-20 15:59] theDarkLard commented on #119
I'll plot some now. Was doing an el scan, will plot the results after I get a few spectra up.

[2015-07-20 16:16] hcrowl commented on #119
Assuming that we don't get a clear measurement, maybe take a look at beam switching for measuring stuff that's this faint?

[2015-07-20 16:21] theDarkLard commented on #119
Right right forgot about that technique. Just installing the new version of
python on the rt machine so I can run the parse program.

On Mon, Jul 20, 2015 at 12:16 PM, hcrowl <notifications@github.com> wrote:

[2015-07-20 16:52] theDarkLard commented on #119
Python is still installing so I made a plot of the el scan:
![casabeamel](https://cloud.githubusercontent.com/assets/6722674/8781596/00f919bc-2ede-11e5-8988-7b4bb1e0b41a.png)
clearly, the large amounts of RFI near the horizon kind of compromise the integrity of the plot.

[2015-07-20 16:53] hcrowl commented on #119
Wow. Really interesting. How low is this in elevation?

[2015-07-20 17:03] theDarkLard commented on #119
At the time the scan was done, CasA was at about 37 degrees elevation.

[2015-07-20 17:46] theDarkLard commented on #119
Spectra!
0 degrees offset:
![casa_0off_spec](https://cloud.githubusercontent.com/assets/6722674/8782780/b1bea0ee-2ee5-11e5-9c5a-1fe2f5ccf07d.png)
-1 offset
![casa_-1_off](https://cloud.githubusercontent.com/assets/6722674/8782790/b7ea9d74-2ee5-11e5-9128-c85263f12a42.png)
that big peak
![casa_spec_bigpeak](https://cloud.githubusercontent.com/assets/6722674/8782792/be61b322-2ee5-11e5-849c-5b604d597b

[2015-07-20 17:47] theDarkLard commented on #119
oh man these don't look good. let me make some new ones

[2015-07-20 18:45] theDarkLard commented on #119
sorry this is taking so long!! firefox is having a freak out on my profile on the catlab machines, and I am struggling to find the /.mozilla directory to go and kill the offending files. the rt machine can't upload photos with the version of firefox it is running so its either spend my time isntalling firefox on the rt machine or fix firefox on the catlab machines...grrrrr

[2015-07-20 19:00] theDarkLard commented on #119
@edaniszewski if you have any experience with this the error I keep getting is "Firefox is already running, but is not responding...."

[2015-07-20 19:10] edaniszewski commented on #119
In terminal, type 'ps -ef | grep firefox' which should show some (or
possibly one) rows where the first and second column are a number and the
third column (I think) is the name of the process running. One should be
identifiable as the instance of Firefox that's running. If you find it,
then in the terminal type 'kill -9 XXX' where XXX is the number in the
first column of the row you found to be a

[2015-07-20 19:26] edaniszewski commented on #119
whoops. just checked on my mac, and the first column is UID, second is PID, third is PPID. You want the value from the PID column,

![screen shot 2015-07-20 at 3 25 10 pm](https://cloud.githubusercontent.com/assets/1195651/8785136/a37e8b76-2ef3-11e5-9bd2-438c362517d6.png)

[2015-07-21 15:23] #119 closed

[2015-07-21 15:34] theDarkLard opened #123 "Spotting Cass A"
Been looking for Cass A this morning. I calculated a new Tsys for 1415.00 MHz at the current temp for today and got 165.8 K. This was the Tsys used for these observations. Here are plots of spectra on and off Cass A:
![casa_off_source_0](https://cloud.githubusercontent.com/assets/6722674/8804873/3b25dee0-2f9c-11e5-83ad-d9552c6e1fd7.jpg)
![casa_on_source_0](https://cloud.githubusercontent.com/asset

[2015-07-21 15:43] theDarkLard commented on #123
Or maybe It's not the bump because It's supposed to be a continuous spectrum. Still, the signal is far hotter on Cass A than off. I would like to think that this is because of Cass A, but it could also be the signal from the galactic plane. Although The survey was done pretty far off 1420.4 MHz so I'm thinking it's something at least.

[2015-07-21 15:44] theDarkLard commented on #123
Or maybe It's not the bump because It's supposed to be a continuous spectrum. Still, the signal is far hotter on Cass A than off. I would like to think that this is because of Cass A, but it could also be the signal from the galactic plane. Although, the survey was done pretty far off 1420.4 MHz, so I'm optimistic that we're seeing *something*.

[2015-07-23 18:31] theDarkLard commented on #120
Hey @edaniszewski , could you implement this bit of code into the existing spectrum_parse script? It's for H1 observations (specifically rotation curve) and produces a velocity of something whose light is shifted whatever amount from the 1420.406 center freq, according to the frequency values for the spectra. Code is:
[code]
I got it to work in the existing script, as in make and write the values

[2015-07-23 18:53] theDarkLard opened #124 "Daily Solar Observations"
Hey @hcrowl, I was taking a closer look at MIT's page for daily solar observations, and they observe the sun pretty continuously over a 7 hr period. They also make their observations at 1415.00 MHz, but I have a feeling that that is a pretty arbitrary center freq and they were just trying to get out of the H1 line. But what they do is average the central channels in the spectra together to get a t

[2015-07-23 19:21] #123 closed

[2015-07-23 19:58] theDarkLard commented on #117
@hcrowl  Some questions:
So here's a plot of a spectrum at galactic longitude 30.
![fauxg30](https://cloud.githubusercontent.com/assets/6722674/8860673/4bc7933e-3153-11e5-8b0c-9f2904b3233a.jpg)
I have plotted my frequencies in the opposite order MIT has plotted them, so our graph is technically backwards, but my question remains: in the MIT lab write up, they snag the emission at the lowest freque

[2015-07-23 20:07] edaniszewski commented on #120
@theDarkLard sure thing. should be easy enough. do you want this to *always* be included in the output? e.g. you would always have something like:
[code]
or do you want it to be optional, so it is only printed out when specified (e.g. only when you are doing H1 observations)? For the ladder, it could be as simple as modifying the call to include a '-h1' flag..

[code]

either should be simple enou

[2015-07-23 20:09] edaniszewski commented on #124
should be fairly easy to create a new script to handle this data, as long as the desired output format is specified.

[2015-07-23 21:21] hcrowl commented on #124
I agree that the 1415 MHz is probably arbitrary; we would do fine at some slightly higher frequency, I think. Doing longer term observations would be fine/fun, and might be an interesting longer-term project.

I agree with both of you that it should be straightforward to write code to handle multiple observations per day and to average frequencies together.

More challenging would be to figure out

[2015-07-23 21:26] hcrowl commented on #117
It's interesting that it's double-peaked. I wonder if you're seeing the HI near us vs. the HI far from us (so that you see it at two different velocities).

I think it depends a little bit on what we think the curve should be. At galactic latitude of 30, do we expect the disk to be blueshifted or redshifted? We presumably want to pick the wavelength/frequency that we think is most representative o

[2015-07-23 21:29] hcrowl commented on #122
Done.

[2015-07-23 23:58] theDarkLard commented on #117
Right the disk should be more redshifted as we get out from the center. I'm doing another survey now and a little postscript file from srtn confirms.
![g90](https://cloud.githubusercontent.com/assets/6722674/8864848/1399c83e-3175-11e5-9409-b9e9c8437206.jpg)

[2015-07-24 00:19] theDarkLard commented on #124
We could do the advanced calibration daily and, saving the data for Phot, Pcold, Thot, see how the changes in these values affect the changes in Tsys. Once we get an idea of a sort of timescale that Tsys changes over, and with making special note of the weather each day, I think we could come up with a general strategy.

[2015-07-24 19:56] theDarkLard commented on #117
plot
![rotationcurve](https://cloud.githubusercontent.com/assets/6722674/8883387/88c62970-321c-11e5-9242-6bf95c1c0eda.jpg)

[2015-07-28 15:21] theDarkLard opened #125 "Calibration Scheme/Characterize roof noise"
Plots of roof noise vs. degrees of elevation at different azimuthal points:
![roof_noise_el](https://cloud.githubusercontent.com/assets/6722674/8935434/c4a9dca6-351a-11e5-953a-89128bec07f0.jpg)
![roof_noise_el_plot](https://cloud.githubusercontent.com/assets/6722674/8935439/ca111614-351a-11e5-8c5a-4d5b35fab701.jpg)

[2015-07-28 15:25] theDarkLard commented on #125
210 and 330 were points right in the middle of the tallest, broadest peaks in this plot:
![roof_noise_az](https://cloud.githubusercontent.com/assets/6722674/8935538/40faa0a6-351b-11e5-84dd-07432d224b41.jpg)
90 was more of a control that shows a curve quite similar to the noise levels at 0 degrees azimuth.

[2015-07-28 15:34] theDarkLard commented on #125
I think the radio tower in north bennington is a good explanation for the high levels of noise in the 300-360 range, but the noise in the 210 range is coming from somewhere who's radio capabilities are unknown. It's way out the way of Mt. Anthony, I just went up and checked.

[2015-07-28 15:35] theDarkLard commented on #125
Also the Tsys for 1420.406 MHz was 10 degrees less today than it was the last couple times we did the advanced calibration.

[2015-07-28 15:37] theDarkLard commented on #125
I think I'll do these scans again at the same places a little later this afternoon to see how time dependent these levels are.

[2015-07-28 15:44] theDarkLard commented on #125
The Az 90 scan was done at 3pm yesterday, the 210 scan done at 9:45 am this morning, the 330 scan done at 10:10 am

[2015-07-28 17:24] theDarkLard commented on #125
@hcrowl deduced that it was the trees surrounding dickinson that were causing all of the interference on the horizon. Darn biology always mucking up our astronomy!
Anyway, break down is like this:
0-200 deg az  -- make observations above 15 degrees el
200 - 260 -- make observations above 30 degrees el
260 - 290 -- make observations above 15 degrees el
290 - 350 -- make observastions above 25 degre

[2015-07-28 17:45] theDarkLard commented on #118
I think we're good on this now.

[2015-07-28 17:45] #118 closed

[2015-07-28 17:46] theDarkLard commented on #117
I think I'm going to do another survey when the plane is higher up in the sky.

[2015-07-28 17:47] theDarkLard commented on #125
calibration scheme bit related to #116

[2015-07-28 17:51] edaniszewski commented on #125
@theDarkLard this could be good to capture in the wiki somewhere, so one won't have to dig through all the issues to find it.

[2015-07-28 17:53] hcrowl commented on #125
Agreed. Perhaps with a caveat that these are conservative limits and conditions are likely to be much more favorable at these low altitudes in the winter time?

[2015-07-28 17:59] theDarkLard commented on #125
sounds good, a wiki page is being constructed.

On Tue, Jul 28, 2015 at 1:53 PM, hcrowl <notifications@github.com> wrote:

[2015-07-28 18:11] theDarkLard commented on #125
wiki page done.

On Tue, Jul 28, 2015 at 1:59 PM, Evan Gall <egall@bennington.edu> wrote:

[2015-07-28 18:33] theDarkLard commented on #125
I did another 'advanced calibration' at 1420.4 MHz, Tsys is up to 188.66 K (at 2:30 pm) from 173.8 K this morning at 9 am. Don't have enough data to verify this, but it seems like Tsys might fluctuate a lot with the ambient temp.

[2015-07-28 18:33] theDarkLard commented on #125
#Date           Phot            Pcold           Thot            Tsys            Freq            Weather/misc.

7/27/15         484.3           190.5           195.9           187.2           1420.406        Heavy cloud cover

7/27/15         471.3           174             302             171.9           1421.5          Clear

7/28/15         458.6           172             298.2           173.8

[2015-07-29 13:57] theDarkLard commented on #125
@hcrowl is there anyway we could get some batteries for the portable vernier interafces? I've been taking the ambient temperarature from the weather sation on campus as Thot because the verniers keep running out of battery, but I compared the temp on the roof with the temp from the weather station, and the roof was 2.5 degrees (kelvin) warmer than the temp reported by the weather station (probably

[2015-07-29 14:08] theDarkLard commented on #125
*Add

[2015-07-29 14:20] theDarkLard commented on #125
As expected the recalculation just bumped up all the Tsys values by a couple degrees, I guess not enough to be too concerned about, but a working temperature probe would still be very useful.

[2015-07-29 15:54] theDarkLard commented on #115
enabled port 554 (rtsp port for H.264 cameras) in the firewall settings but still getting the same live555/can't connect to mrl error :(

[2015-07-29 18:13] theDarkLard commented on #115
@hcrowl , when you were setting up the camera the last time, how did you install the browser plug-in that enables you to set up a username and password for your camera? The extension provided by foscam is in an .exe format, while firefox add-ons are in a .xpi format, and chrome add-ons are in a .crx format. Saving the .exe file as either .xpi or .crx corrupts the file.

[2015-07-29 18:19] theDarkLard commented on #115
And there are converters but all the ones I can find are .crx or .xpi *to* .exe, not the other way around.

[2015-07-29 18:22] hcrowl commented on #115
I don't think you can view the video stream in a browser (or, at least, I could never get that running), but you should be able to get it running in VLC on one of the Physics lab macs.

[2015-07-29 18:27] theDarkLard commented on #115
RIght right but this is before that step, this is simply to configure the camera itself and assign to it a username and password. Part of "Step 3: Access the Camera" in the set up manual if that rings a distant bell. You need a browser plug-in to sign in to this window:
![screen shot 2015-07-29 at 2 26 12 pm](https://cloud.githubusercontent.com/assets/6722674/8966186/eef78c68-35fd-11e5-9827-65f265

[2015-07-29 18:30] theDarkLard commented on #115
There is a foscam support page that lists how to force-install the plug-in for all the different browsers, but when you input the url they for each add on, it brings you back to the support page with no file downloaded. This is the page:

http://foscam.us/forum/the-how-to-install-browser-plugins-all-h-264-cameras-t7272.html

[2015-07-29 18:34] hcrowl commented on #115
That's weird. Maybe try another browser? I think it worked on either Firefox or Chrome without a plugin.

[2015-07-29 18:39] theDarkLard commented on #115
Yeah I've tried it on both firefox and chrome and both require the plug-in to let you set up your camera. Safari as well. It seems foscam only makes the add-on in a .exe format, or at least that's the only version I can find. Like I said earlier, the instructions to get the other versions of the plug-ins don't bring you to where they are supposed to. Shall I email foscam?

[2015-07-29 20:50] edaniszewski commented on #115
http://www.foscam.com/Cooperate/FAQinfo/id/45.html

dunno if thats helpful or not

[2015-07-30 15:22] theDarkLard commented on #115
Works on every linux machine BUT the radio telescope one. I'm not totally sure why or how...I've told the firewall to leave the appropriate ports alone and I've installed the newest version of VLC but still to no avail..but rtsp streaming does in fact work with the webcam.

[2015-07-30 16:09] edaniszewski commented on #115
While CentOS and Ubuntu are both Linux based, Ubuntu seems to be more
widely-supported than CentOS since it is more popular. Perhaps this is a
CentOS specific problem? Try searching for RSTP streaming issues specific
to CentOS. Perhaps that may provide some enlightenment?

On Thu, Jul 30, 2015 at 11:22 AM, theDarkLard <notifications@github.com>
wrote:

[2015-07-30 16:17] edaniszewski commented on #115
perhaps a centos issue:
http://w3facility.org/question/centososx-vlc-rtsp-url-does-not-work-on-centos-but-on-osx/

some other things to try:
http://xmodulo.com/live-stream-video-webcam-linux.html
http://www.videolan.org/doc/streaming-howto/en/ch04.html#id311704

On Thu, Jul 30, 2015 at 12:09 PM, Erick Daniszewski <edaniszewski@gmail.com>
wrote:

[2015-08-06 16:29] edaniszewski opened #126 "add test data to repo"
@theDarkLard

would it be possible to add a directory to the repo that contains various .rad data files that you've generated over the summer?

the only one I've had available to work with/test against is the one that was originally checked into the repo long ago. It would be nice to have a bunch of different files to test against.

could have the directory structure look something like:

[code]

[2015-08-06 16:45] theDarkLard commented on #126
Yeah I'll dump all the important ones I've collected so far. How do you
commit stuff to the repo....?

On Thu, Aug 6, 2015 at 12:29 PM, Erick Daniszewski <notifications@github.com

[2015-08-06 16:57] edaniszewski commented on #126
If you don't feel comfortable doing it with the command line, there are a bunch of GUI tools you can use: https://git-scm.com/download/gui/linux

you would just need to point it to the existing repo. Then add your stuff to wherever you are putting it inside of the local copy of your repo (e.g. somewhere in the Telescope-2014 folder on your machine), then there should be an option on the GUI to com

[2015-08-08 20:41] #126 closed